{#
/**
 * @file
 * Theme overwrite for a 'form' element to attach the starter_theme/form library.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}

{#
  Attaching Drupal libraries
#}
{% block includes %}
  {{ attach_library('brainsum_starterkit/form') }}
{% endblock %}

{#
  Defining local variables
#}
{%
  set classes = [
    'c-form'
  ]
%}

{#
  Building the template structure
#}
<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>
