/**
 * @file
 * Container Object
 *
 * Container object classes using CSS custom properties.
 *
 * The container creates a centered box with max-width and inline padding.
 * Responsive values are defined in `1.settings/_settings.container.scss`.
 *
 * @require {mixin} container <2.tools/_tools.container.scss>
 *
 * @example
 *   <div class="o-container">
 *     <!-- content -->
 *   </div>
 *
 *   <div class="o-container--narrow">
 *     <!-- narrower content -->
 *   </div>
 */

/**
 * Imports
 */
@use "../2.tools/tools.container" as *;

/**
 * Default Container
 *
 * Uses --container-size-default and --container-gutter-default
 * from 1.settings/_settings.container.scss
 */
.o-container {
  @include container;
}

/**
 * Container Variants
 *
 * Add more container variants as needed.
 * First define the CSS custom properties in 1.settings/_settings.container.scss:
 *
 *   --container-size-narrow: 80rem;
 *   --container-gutter-narrow: var(--gutter);
 *
 * Then create the class here:
 *
 *   .o-container--narrow {
 *     @include container(narrow);
 *   }
 */
