/**
 * @file
 * Draggable Table Component
 *
 * Overwrite the Core's tabledrag css and added starterkit and Olivero's theming.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Settings
 */
// display the weight column and headings
$manual-weight-input: false;

:root {
  // Items
  --item-padding: var(--unit-4x);
  --items-gap: var(--unit-2x);
  --item-background: var(--color-background-light);
  --item-background-hover: var(--color-primary-light);
  --handle-color-hover: var(--color-primary);

  // Actions
  --actions-button-padding-block: var(--unit-1x);
  --actions-button-padding-inline: 1rem;
  --actions-button-border-radius: 0.2rem;
  --actions-button-border: 0.1rem solid var(--color-primary);
  --actions-button-background: var(--color-primary);
  --actions-button-color: var(--color-text-inverse);
  --actions-button-background-hover: var(--color-primary-light);
  --actions-button-color-hover: currentColor;
}

.c-tabledrag,
.c-messages {
  abbr {
    border-block-end: 0;
  }
}

.c-messages + .c-tabledrag {
  margin-block-start: var(--unit-3x);
}

.c-tabledrag {
  &__cell--name {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: var(--item-padding);
    border-radius: 0.2rem;
    background-color: var(--item-background);
  }

  &__item {
    &:hover {
      .c-tabledrag__cell--name {
        background-color: var(--item-background-hover);
      }

      .c-tabledrag-handle {
        color: var(--handle-color-hover);
      }
    }
  }

  &__item + &__item {
    .c-tabledrag__cell--name {
      margin-block-start: var(--items-gap);
    }
  }

  &-handle {
    inline-size: 0.5em;
  }

  &__actions {
    position: relative;
    display: inline-block;
    margin-inline-start: auto;
  }

  &__actions-button {
    @include tools.global-transition;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-block: var(--actions-button-padding-block);
    padding-inline: var(--actions-button-padding-inline);
    cursor: pointer;
    color: var(--actions-button-color);
    border: var(--actions-button-border);
    border-radius: var(--actions-button-border-radius);
    background: var(--actions-button-background);

    &:hover {
      color: var(--actions-button-color-hover);
      background: var(--actions-button-background-hover);
    }
  }

  &__actions-menu {
    --transition-easing: ease-out;
    --transition-timing: 0.25s;
    --dropdown-offset: var(--unit-2x);

    position: absolute;
    z-index: 1000;
    inset-block-start: 100%;
    inset-inline-end: 0;
    display: flex;
    visibility: hidden;
    overflow: hidden;
    flex-direction: column;
    min-inline-size: 15rem;
    max-block-size: 0;
    margin: 0;
    margin-block-start: var(--dropdown-offset);
    padding: 0;
    list-style: none;
    transition:
      visibility var(--transition-timing) var(--transition-easing),
      max-block-size var(--transition-timing) var(--transition-easing),
      transform var(--transition-timing) var(--transition-easing),
      opacity var(--transition-timing) var(--transition-easing);
    transform: translateY(calc(-1 * var(--dropdown-offset)));
    opacity: 0;
    border-radius: 0.2rem;
    background: white;
    box-shadow: 0 0.125rem 0.5rem rgb(0, 0, 0, 0.15);
    gap: var(--unit-1x);

    // Open state
    &.is-open {
      visibility: visible;
      overflow: visible;
      max-block-size: 50rem;
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__actions-menu-item {
    display: block;
    box-sizing: border-box;
    inline-size: 100%;
    padding-block: var(--unit-3x);
    padding-inline: var(--unit-3x);
    cursor: pointer;
    text-align: start;
    border: 0;
    background: none;

    &:hover {
      color: var(--color-primary);
      background: var(--color-primary-light);
    }
  }
}

.draggable {
  position: relative;

  /**
   * Smooth animation states
   *
   * .is-idle: Row is in resting state, ready to be dragged or moved
   * .is-draggable: Row is currently being dragged by user
   */
  &.is-idle {
    transition: 0.25s ease transform;

    &.no-transition {
      transition: none;
    }

    .c-tabledrag-handle {
      cursor: grab;
    }
  }

  &.is-draggable {
    z-index: 10;
    cursor: grabbing;

    .c-tabledrag-handle {
      cursor: grabbing;
    }
  }
}

/**
 * Reset theming for table header if it's a multiple value field.
 */
.field-multiple-table,
.draggable-table {
  th {
    text-align: start;
    font-weight: 400;
  }
}

@if $manual-weight-input == false {
  .c-tabledrag-hide {
    display: none !important;
  }
}
