/**
  * @file
  * Tabs Component
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 */
.c-tabs {
  // Settings
  --tab-background: var(--color-grey);
  --tab-hover-background: var(--color-grey-80);
  --tab-color: var(--color-light);
  --tab-hover-color: var(--color-light);
  --tab-border-color: var(--color-primary);
  --active-color: var(--color-light);
  --active-border-size: 0.6rem;
  --tab-font-size: 1.4rem;

  // Theme
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  list-style: none;

  @media(--tablet-s) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /**
   * Tab
   */
  &__tab {
    display: none;
    margin-block-start: 0;
    margin-block-end: -0.1rem;
    margin-inline: 0;

    @media(--tablet-s) {
      display: flex;
    }

    html:not(.js) &,
    .c-tabs.is-expanded &,
    &.is-active {
      display: flex;
    }

    .c-tabs--secondary & {
      display: block;

      @media(--tablet-s) {
        display: flex;
      }
    }
  }

  /**
   * Link
   */
  &__link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    block-size: calc(var(--gutter--1x) * 3);
    padding-block: 0;
    padding-inline: 2.5rem;
    transition: background-color 0.2s;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: var(--tab-color);
    border-block: 0.1rem solid var(--tab-background);
    border-inline: 0.1rem solid var(--tab-background);
    background: var(--tab-background);
    font-size: var(--tab-font-size);

    @if settings.$prefers-reduced-motion {
      @media (--reduced-motion) {
        transition: none;
      }
    }

    .c-tabs--secondary & {
      text-transform: none;

      @media(--tablet-s) {
        border-block-start-color: transparent;
        border-inline-color: transparent;
        background-color: transparent;
      }
    }

    &:focus {
      position: relative;
      z-index: 1;
      outline: solid 0.3rem var(--color-primary);
      outline-offset: -0.3rem;
    }

    &:hover {
      color: var(--tab-hover-color);
      background: var(--tab-hover-background);
    }

    &.is-active {
      @include tools.font-smooth;

      position: relative;
      color: var(--active-color);
      font-weight: 700;

      &:after {
        position: absolute;
        inset-block-end: -0.1rem;
        inset-inline-start: -0.1rem;
        block-size: calc(100% + 0.2rem);
        content: "";
        border-inline-start: var(--active-border-size) solid var(--tab-border-color);

        @media (--tablet-s) {
          inset-inline-start: 0;
          inline-size: 100%;
          block-size: auto;
          border-block-start: var(--active-border-size) solid var(--tab-border-color);
          border-inline-start: 0;
        }
      }
    }
  }

  /**
   * Toggle Button for Mobile
   */
  &__trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: calc(var(--gutter--1x) * 3);
    margin-block: 0;
    margin-inline-start: -0.1rem;
    margin-inline-end: 0;
    cursor: pointer;
    border-block: solid 0.1rem var(--tab-background);
    border-inline: solid 0.1rem var(--tab-background);
    background-color: var(--tab-background);

    @media (--tablet-s) {
      display: none;
    }

    &:hover {
      background-color: var(--tab-hover-background);
    }

    &:focus {
      position: relative;
      border-color: var(--tab-border-color);
      outline: none;
    }

    html:not(.js) & {
      display: none;
    }

    /**
     * Toggle Icon (Hamburger or Close)
     */
    &-icon {
      position: relative;
      display: block;
      inline-size: var(--gutter--1x);
      block-size: 1rem;
      margin-block-start: -0.2rem;

      > span {
        position: absolute;
        inset-inline-start: 0;
        inline-size: 100%;
        transition: transform 0.2s, opacity 0.2s, top 0.2s;
        border-block-start: solid 0.2rem var(--tab-color);

        @if settings.$prefers-reduced-motion {
          @media (--reduced-motion) {
            transition: none;
          }
        }

        &:nth-child(1) {
          inset-block-start: 0;
        }

        &:nth-child(2) {
          inset-block-start: calc(50% + 0.1rem);
        }

        &:nth-child(3) {
          inset-block-start: calc(100% + 0.2rem);
        }
      }

      .c-tabs__trigger[aria-expanded="true"] & {
        > span {
          &:nth-child(1) {
            inset-block-start: calc(50% + 0.1rem);
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            inset-block-start: calc(50% + 0.1rem);
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
