/**
 * @file
 * Form Component
 *
 * Theming common form elements. Just import it (attach the form library) where
 * is a form item, and only theming the component-specific things stand-alone.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Settings
 */
$browser-input-icons: true;
$gutter-block: settings.$form-gutter;
$padding-block: settings.$form-padding-block;
$padding-inline: settings.$form-padding-inline;
$border-radius: ($padding-block * 2 + settings.$line-height * 1.8rem) * 0.5;
$border-color: #979797;
$focus-color: settings.$color-primary;
$text-color: settings.$color-text-primary;
$background-color: settings.$color-light;
$placeholder-color: rgba($text-color, 0.66);
$boolean-border-color: #979797;
$boolean-checked-color: settings.$color-primary;
$boolean-size-touch: 3.5rem; // size for mobile devices
$boolean-size-mouse: 2.6rem; // size for desktop
$checkbox-border-radius: 0.2rem;
$select-arrow-size: 2.8rem;

textarea {
  resize: vertical;
  vertical-align: top;
}

// Reset webkit date and time fields (hide calendar and clock icons)
@if $browser-input-icons == false {
  input[type="date" i]::-webkit-calendar-picker-indicator,
  input[type="time" i]::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.c-form {
  &-item:not(:first-child) {
    margin-block-start: $gutter-block;
  }

  /**
   * Text form elements
   *   - input type: text, email, number, date, time, password...
   *   - textarea
   */
  &-element {
    inline-size: 100%;
    padding-block: $padding-block;
    padding-inline: $padding-inline;
    color: $text-color;
    border-block: 0.1rem solid $border-color;
    border-inline: 0.1rem solid $border-color;
    border-radius: $border-radius;
    background: $background-color;
    appearance: none;

    &::placeholder {
      color: $placeholder-color;
    }

    &:focus-visible {
      outline: 0;
      box-shadow: 0 0 1rem rgba($focus-color, 0.5);
    }

    &.form-textarea {
      min-block-size: $padding-block * 2 + 9 * settings.$line-height * 1.8rem;

      @include tools.breakpoint(medium) {
        min-block-size: $padding-block * 2 + 11 * settings.$line-height * 1.8rem;
      }
    }
  }

  /**
   * Boolean type form elements
   *   - radio
   *   - checkbox
   */
  &-type--boolean {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-block-size: $boolean-size-touch;
    margin-block: 2rem;
    margin-inline: 0;
    cursor: pointer;
    line-height: $boolean-size-touch;

    @include tools.breakpoint(medium) {
      min-block-size: $boolean-size-mouse;
      margin-block: 1.5rem;
      line-height: $boolean-size-mouse;
    }

    input {
      @include tools.visually-hidden;

      &:checked + label::after {
        border-color: $boolean-checked-color;
        background: $boolean-checked-color;
      }

      &:disabled,
      &.is-disabled {
        opacity: 0.5;
      }
    }

    label {
      position: relative;
      padding-inline-start: $boolean-size-touch + 2rem;
      cursor: pointer;

      @include tools.breakpoint(medium) {
        padding-inline-start: $boolean-size-mouse + 1.5rem;
      }

      &::before {
        @include tools.square($boolean-size-touch * 0.6);

        position: absolute;
        z-index: 9;
        inset-block-start: $boolean-size-touch * 0.2;
        inset-inline-start: $boolean-size-touch * 0.2;
        content: "";

        @include tools.breakpoint(medium) {
          @include tools.square($boolean-size-mouse * 0.6);

          inset-block-start: $boolean-size-mouse * 0.2;
          inset-inline-start: $boolean-size-mouse * 0.2;
        }
      }

      &::after {
        @include tools.square($boolean-size-touch);

        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        display: inline-block;
        content: "";
        cursor: pointer;
        transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
        border-block: 0.1rem solid $boolean-border-color;
        border-inline: 0.1rem solid $boolean-border-color;
        background: $background-color;

        @if settings.$prefers-reduced-motion {
          @media screen and (prefers-reduced-motion: reduce) {
            transition: none;
          }
        }

        @include tools.breakpoint(medium) {
          @include tools.square($boolean-size-mouse);
        }
      }
    }
  }
}

.js-form {
  &-type-radio {
    label {
      &::before {
        border-radius: 50%;
        background: $background-color;
      }

      &::after {
        border-radius: 50%;
      }
    }
  }

  &-type-checkbox {
    label {
      &::before {
        background: svg-load("../../../images/icons/check-solid.svg", fill=settings.$color-secondary) no-repeat center
          center;
        background-size: contain;
      }

      &::after {
        border-radius: $checkbox-border-radius;
      }
    }
  }
}

.field--widget-options-select,
.c-form-item--select,
.c-form-item-created {
  position: relative;

  &::after {
    @include tools.square($select-arrow-size);

    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: $padding-inline;
    display: block;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;
    background: svg-load("../../../images/icons/angle-down-solid.svg", fill=settings.$color-brand) no-repeat center
      center;
    background-size: contain;
  }

  select {
    padding-inline-end: $padding-inline * 2;
    cursor: pointer;
  }
}
