/**
  * @file
  * Tabs Component
 */

/**
  * Imports
 */
@import "../_global.importer";

/**
 * Settings
 */
$tabs-tab-background        : $color-grey;
$tabs-tab-hover-background  : $color-grey-80;
$tabs-tab-color             : $color-light;
$tabs-tab-hover-color       : $color-light;
$tabs-tab-border-color      : $color-brand;
$tabs-active-color          : $color-light;
$tabs-active-border-size    : 6px;
$tabs-tab-font-size         : 1.4rem;

/**
 * Tab List
 */
.c-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @include breakpoint(medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /**
   * Tab
   */
  &__tab {
    display: none;
    margin: 0;
    margin-block-end: -1px;

    @include breakpoint(medium) {
      display: flex;
    }

    html:not(.js) &,
    .c-tabs.is-expanded &,
    &.is-active {
      display: flex;
    }

    .c-tabs--secondary & {
      display: block;

      @include breakpoint(medium) {
        display: flex;
      }
    }
  }

  /**
   * Link
   */
  &__link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: $gutter * 3;
    padding: 0 2.5rem;
    transition: background-color 0.2s;
    text-decoration: none;
    letter-spacing: 1px;
    color: $tabs-tab-color;
    border: 1px solid $tabs-tab-background;
    background: $tabs-tab-background;
    font-size: $tabs-tab-font-size;

    .c-tabs--secondary & {
      text-transform: none;

      @include breakpoint(medium) {
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        background-color: transparent;
      }
    }

    &:focus {
      position: relative;
      z-index: 1;
      outline: solid 3px $color-brand;
      outline-offset: -3px;
    }

    &:hover {
      color: $tabs-tab-hover-color;
      background: $tabs-tab-hover-background;
    }

    &.is-active {
      @include font-smooth;

      position: relative;
      color: $tabs-active-color;
      font-weight: 700;

      &:after {
        position: absolute;
        inset-block-end: -1px;
        inset-inline-start: -1px;
        height: calc(100% + 2px);
        content: "";
        border-inline-start: $tabs-active-border-size solid $tabs-tab-border-color;

        @include breakpoint(medium) {
          inset-inline-start: 0;
          width: 100%;
          height: auto;
          border-block-start: $tabs-active-border-size solid $tabs-tab-border-color;
          border-inline-start: 0;
        }
      }
    }
  }

  /**
   * Toggle Button for Mobile
   */
  &__trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $gutter * 3;
    margin-block: 0;
    margin-inline-end: 0;
    margin-inline-start: -1px;
    cursor: pointer;
    border: solid 1px $tabs-tab-background;
    background-color: $tabs-tab-background;

    @include breakpoint(medium) {
      display: none;
    }

    &:hover {
      background-color: $tabs-tab-hover-background;
    }

    &:focus {
      position: relative;
      border-color: $tabs-tab-border-color;
      outline: none;
    }

    html:not(.js) & {
      display: none;
    }

    /**
     * Toggle Icon (Hamburger or Close)
     */
    &-icon {
      position: relative;
      display: block;
      width: $gutter;
      height: 1rem;
      margin-block-start: -2px;

      > span {
        position: absolute;
        inset-inline-start: 0;
        width: 100%;
        transition: transform 0.2s, opacity 0.2s, top 0.2s;
        border-block-start: solid 2px $tabs-tab-color;

        &:nth-child(1) {
          inset-block-start: 0;
        }

        &:nth-child(2) {
          inset-block-start: calc(50% + 1px);
        }

        &:nth-child(3) {
          inset-block-start: calc(100% + 2px);
        }
      }

      .c-tabs__trigger[aria-expanded="true"] & {
        > span {
          &:nth-child(1) {
            inset-block-start: calc(50% + 1px);
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            inset-block-start: calc(50% + 1px);
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
