/**
 * @file
 * Language Dropdown Component
 *
 * Theming Language Dropdown block.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

.c-block-dropdown-language {
  display: flex;
  align-items: center;
  padding-block: 0.4rem;
  padding-inline: 0.3rem;

  .language-link {
    @include tools.font-smooth;

    display: block;
    padding-block: 1rem;
    padding-inline: 1.1rem;
    cursor: pointer;
    color: settings.$color-primary;
    font-size: 1.4rem;
  }

  .dropdown {
    @include tools.global-transition;

    position: absolute;
    z-index: 700;
    overflow: hidden;
    block-size: auto;
    max-block-size: 0;
    opacity: 0;
    background: settings.$color-primary;

    &.is-active {
      max-block-size: 10rem;
      opacity: 1;
    }

    .language-link {
      color: settings.$color-light;
    }
  }

  .c-dropbutton {
    &__wrapper {
      position: relative;
    }

    &__icon {
      @include tools.global-transition;

      position: absolute;
      inset-block-start: 2.1rem;
      inset-inline-end: -1rem;
      display: block;
      margin-block-start: -0.5rem;
      cursor: pointer;
    }
  }

  .is-active .c-dropbutton__icon {
    transform: rotate(-180deg);
  }
}
