/**
  * @file
  * Tabs Component
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Settings
 */
$tab-background        : settings.$color-grey;
$tab-hover-background  : settings.$color-grey-80;
$tab-color             : settings.$color-light;
$tab-hover-color       : settings.$color-light;
$tab-border-color      : settings.$color-primary;
$active-color          : settings.$color-light;
$active-border-size    : 0.6rem;
$tab-font-size         : 1.4rem;

/**
 * Tab List
 */
.c-tabs {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  list-style: none;

  @include tools.breakpoint(medium) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /**
   * Tab
   */
  &__tab {
    display: none;
    margin-block-start: 0;
    margin-block-end: -0.1rem;
    margin-inline: 0;

    @include tools.breakpoint(medium) {
      display: flex;
    }

    html:not(.js) &,
    .c-tabs.is-expanded &,
    &.is-active {
      display: flex;
    }

    .c-tabs--secondary & {
      display: block;

      @include tools.breakpoint(medium) {
        display: flex;
      }
    }
  }

  /**
   * Link
   */
  &__link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    block-size: settings.$gutter * 3;
    padding-block: 0;
    padding-inline: 2.5rem;
    transition: background-color 0.2s;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: $tab-color;
    border-block: 0.1rem solid $tab-background;
    border-inline: 0.1rem solid $tab-background;
    background: $tab-background;
    font-size: $tab-font-size;

    @if settings.$prefers-reduced-motion {
      @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    .c-tabs--secondary & {
      text-transform: none;

      @include tools.breakpoint(medium) {
        border-block-start-color: transparent;
        border-inline-color: transparent;
        background-color: transparent;
      }
    }

    &:focus {
      position: relative;
      z-index: 1;
      outline: solid 0.3rem settings.$color-primary;
      outline-offset: -0.3rem;
    }

    &:hover {
      color: $tab-hover-color;
      background: $tab-hover-background;
    }

    &.is-active {
      @include tools.font-smooth;

      position: relative;
      color: $active-color;
      font-weight: 700;

      &:after {
        position: absolute;
        inset-block-end: -0.1rem;
        inset-inline-start: -0.1rem;
        block-size: calc(100% + 0.2rem);
        content: "";
        border-inline-start: $active-border-size solid $tab-border-color;

        @include tools.breakpoint(medium) {
          inset-inline-start: 0;
          inline-size: 100%;
          block-size: auto;
          border-block-start: $active-border-size solid $tab-border-color;
          border-inline-start: 0;
        }
      }
    }
  }

  /**
   * Toggle Button for Mobile
   */
  &__trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: settings.$gutter * 3;
    margin-block: 0;
    margin-inline-start: -0.1rem;
    margin-inline-end: 0;
    cursor: pointer;
    border-block: solid 0.1rem $tab-background;
    border-inline: solid 0.1rem $tab-background;
    background-color: $tab-background;

    @include tools.breakpoint(medium) {
      display: none;
    }

    &:hover {
      background-color: $tab-hover-background;
    }

    &:focus {
      position: relative;
      border-color: $tab-border-color;
      outline: none;
    }

    html:not(.js) & {
      display: none;
    }

    /**
     * Toggle Icon (Hamburger or Close)
     */
    &-icon {
      position: relative;
      display: block;
      inline-size: settings.$gutter;
      block-size: 1rem;
      margin-block-start: -0.2rem;

      > span {
        position: absolute;
        inset-inline-start: 0;
        inline-size: 100%;
        transition: transform 0.2s, opacity 0.2s, top 0.2s;
        border-block-start: solid 0.2rem $tab-color;

        @if settings.$prefers-reduced-motion {
          @media screen and (prefers-reduced-motion: reduce) {
            transition: none;
          }
        }

        &:nth-child(1) {
          inset-block-start: 0;
        }

        &:nth-child(2) {
          inset-block-start: calc(50% + 0.1rem);
        }

        &:nth-child(3) {
          inset-block-start: calc(100% + 0.2rem);
        }
      }

      .c-tabs__trigger[aria-expanded="true"] & {
        > span {
          &:nth-child(1) {
            inset-block-start: calc(50% + 0.1rem);
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            inset-block-start: calc(50% + 0.1rem);
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
