/**
 * @file
 * Vertical Tabs.
 *
 * Based on Olivero.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

.vertical-tabs {
  // Settings
  --menu-width: 24rem;
  --menu-border-width: 0.1rem;
  --gutter: var(--gutter--1x);

  @media (--tablet-l) {
    display: flex;
  }

  &__menu {
    position: relative;
    align-self: flex-start;
    margin-block: 0;
    margin-inline: 0;
    list-style: none;
    border-width: var(--menu-border-width);
    border-style: solid;
    border-color: var(--color-grey-20);

    @media (--tablet-l) {
      inline-size: var(--menu-width);
      border-width: var(--menu-border-width) 0 var(--menu-border-width) var(--menu-border-width);
    }

    &-item {
      &:nth-child(n + 2) {
        border-block-start: var(--menu-border-width) solid var(--color-grey-20);
      }

      a {
        display: block;
        padding-block: calc(var(--gutter) * 0.5);
        padding-inline: calc(var(--gutter) * 0.75);
        text-decoration: none;
        background-color: var(--color-grey-20);

        &:focus,
        &:hover,
        &:active {
          background-color: var(--color-grey-10);
        }
      }

      &.is-selected {
        background-color: var(--color-light);

        @media (--tablet-l) {
          margin-inline-end: calc(var(--menu-border-width) * -1);
          padding-inline-end: var(--menu-border-width);
        }

        a {
          background-color: transparent;
        }
      }

      &-summary {
        display: block;
        font-size: 1.4rem;
        line-height: 1.28;
      }
    }
  }

  &__panes {
    margin-block-start: calc(var(--menu-border-width) * -1);

    @media (--tablet-l) {
      inline-size: calc(100% - var(--menu-width));
      margin-block-start: 0;
    }
  }

  &__pane {
    @media (--tablet-l) {
      min-block-size: 100%;
    }

    &.c-details {
      margin-block: 0;
      margin-inline: 0;
      border-radius: 0;
      box-shadow: none;
    }

    > summary {
      display: none;
    }
  }
}
