/**
 * @file
 * Override Drupal Ajax Progress Component
 *
 * Based on Olivero.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Settings
 */
:root {
  --ajax-color: var(--color-primary);
  --throbber-size: var(--unit-4x);
}

.ajax-progress {
  display: inline-block;
}

/**
 * Throbber.
 */
.ajax-progress-throbber {
  position: relative;
  display: inline-flex;
  align-content: center;
  box-sizing: border-box;
  block-size: var(--throbber-size);
  margin-inline: calc(var(--throbber-size) / 2);
  vertical-align: middle;
  white-space: nowrap;
  line-height: var(--throbber-size);

  .throbber {
    @include tools.spinner(var(--throbber-size), var(--ajax-color));
  }

  .message {
    display: inline-block;
    padding-inline-start: calc(var(--throbber-size) / 2);
    font-size: 1.4rem;
    font-weight: 400;
  }
}

/**
 * Full screen throbber.
 */
.ajax-progress-fullscreen {
  --throbber-size: var(--unit-10x);

  @include tools.circle(var(--throbber-size));

  position: fixed;
  z-index: 999;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%);

  &::before {
    @include tools.spinner(var(--throbber-size), var(--ajax-color), 0.3rem);

    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    margin-block-start: calc(var(--throbber-size) / 2);
    margin-inline-start: calc(var(--throbber-size) / 2);
    content: "";
  }
}

/**
 * AJAX button wrapper — contains button + inline throbber.
 */
.c-ajax-button-wrapper {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--throbber-size) / 2);
}

/**
 * Remove margin from ajax throbbers following buttons because buttons already
 * have a large margin set.
 */
html.js .button:not(.js-hide) + .ajax-progress-throbber,
.c-ajax-button-wrapper .ajax-progress-throbber {
  margin-inline: 0;
}
