/**
 * @file
 * Form Component
 *
 * Theming common form elements. Just import it (attach the form library) where
 * is a form item, and only theming the component-specific things stand-alone.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Settings
 */
$browser-input-icons: true;

form {
  --gutter-block: var(--form-gutter);
  --padding-block: var(--form-padding-block);
  --padding-inline: var(--form-padding-inline);
  --border-radius: calc((var(--padding-block) * 2 + var(--line-height-base) * 1.8rem) / 2);
  --border-color: #979797;
  --focus-color: var(--color-primary);
  --text-color: var(--color-text-primary);
  --background-color: var(--color-light);
  --placeholder-color: rgb(from var(--text-color) r g b / 0.66);
  --boolean-border-color: #979797;
  --boolean-checked-color: var(--color-primary);
  --boolean-size-touch: 3.5rem; // size for mobile devices
  --boolean-size-mouse: 2.6rem; // size for desktop
  --checkbox-border-radius: 0.2rem;
  --select-arrow-size: 2.8rem;
}

textarea {
  resize: vertical;
  vertical-align: top;
}

// Reset webkit date and time fields (hide calendar and clock icons)
@if $browser-input-icons == false {
  input[type="date" i]::-webkit-calendar-picker-indicator,
  input[type="time" i]::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.c-form {
  &-item:not(:first-child) {
    margin-block-start: var(--gutter-block);
  }

  /**
   * Text form elements
   *   - input type: text, email, number, date, time, password...
   *   - textarea
   */
  &-element {
    inline-size: 100%;
    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);
    color: var(--text-color);
    border-block: 0.1rem solid var(--border-color);
    border-inline: 0.1rem solid var(--border-color);
    border-radius: var(--border-radius);
    background: var(--background-color);
    appearance: none;

    &::placeholder {
      color: var(--placeholder-color);
    }

    &:focus-visible {
      outline: 0;
      box-shadow: 0 0 1rem rgb(from var(--focus-color) r g b / 0.5);
    }

    &.form-textarea {
      min-block-size: calc(var(--padding-block) * 2 + 9 * var(--line-height) * 1.8rem);

      @media (--tablet-s) {
        min-block-size: calc(var(--padding-block) * 2 + 11 * var(--line-height) * 1.8rem);
      }
    }
  }

  /**
   * Boolean type form elements
   *   - radio
   *   - checkbox
   */
  &-type--boolean {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-block-size: var(--boolean-size-touch);
    margin-block: 2rem;
    margin-inline: 0;
    cursor: pointer;
    line-height: var(--boolean-size-touch);

    @media (--tablet-s) {
      min-block-size: var(--boolean-size-mouse);
      margin-block: 1.5rem;
      line-height: var(--boolean-size-mouse);
    }

    input {
      @include tools.visually-hidden;

      &:checked + label::after {
        border-color: var(--boolean-checked-color);
        background: var(--boolean-checked-color);
      }

      &:disabled,
      &.is-disabled {
        opacity: 0.5;
      }
    }

    label {
      position: relative;
      padding-inline-start: calc(var(--boolean-size-touch) + 2rem);
      cursor: pointer;

      @media (--tablet-s) {
        padding-inline-start: calc(var(--boolean-size-mouse) + 1.5rem);
      }

      &::before {
        @include tools.square(calc(var(--boolean-size-touch) * 0.6));

        position: absolute;
        z-index: 9;
        inset-block-start: calc(var(--boolean-size-touch) * 0.2);
        inset-inline-start: calc(var(--boolean-size-touch) * 0.2);
        content: "";

        @media (--tablet-s) {
          @include tools.square(calc(var(--boolean-size-mouse) * 0.6));

          inset-block-start: calc(var(--boolean-size-mouse) * 0.2);
          inset-inline-start: calc(var(--boolean-size-mouse) * 0.2);
        }
      }

      &::after {
        @include tools.square(var(--boolean-size-touch));

        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        display: inline-block;
        content: "";
        cursor: pointer;
        transition:
          background 0.2s,
          border 0.2s,
          box-shadow 0.2s,
          color 0.2s;
        border-block: 0.1rem solid var(--boolean-border-color);
        border-inline: 0.1rem solid var(--boolean-border-color);
        background: var(--background-color);

        @if settings.$prefers-reduced-motion {
          @media (--reduced-motion) {
            transition: none;
          }
        }

        @media (--tablet-s) {
          @include tools.square(var(--boolean-size-mouse));
        }
      }
    }
  }
}

.js-form {
  &-type-radio {
    label {
      &::before {
        border-radius: 50%;
        background: var(--background-color);
      }

      &::after {
        border-radius: 50%;
      }
    }
  }

  &-type-checkbox {
    label {
      &::before {
        // secondary color
        background: svg-load("../../../images/icons/check-solid.svg", fill=#66d1ca) no-repeat center
          center;
        background-size: contain;
      }

      &::after {
        border-radius: var(--checkbox-border-radius);
      }
    }
  }
}

.field--widget-options-select,
.c-form-item--select,
.c-form-item-created {
  position: relative;

  &::after {
    @include tools.square(var(--select-arrow-size));

    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: var(--padding-inline);
    display: block;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;

    // brand color
    background: svg-load("../../../images/icons/angle-down-solid.svg", fill=#f7ca00) no-repeat center
      center;
    background-size: contain;
  }

  select {
    padding-inline-end: calc(var(--padding-inline) * 2);
    cursor: pointer;
  }
}
