/**
 * @file
 * Override Drupal Ajax Progress Component
 *
 * Based on Olivero.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Settings
 */
$ajax-color: settings.$color-primary;
$ajax-border: 0.1rem solid settings.$color-grey-60;
$throbber-size: settings.$gutter;

.ajax-progress {
  display: inline-block;
}

/**
 * Animations
 */
@keyframes ajax-throbber {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/**
 * Throbber.
 */
.ajax-progress-throbber {
  position: relative;
  display: inline-flex;
  align-content: center;
  block-size: $throbber-size;
  margin-block-start: -0.3rem;
  margin-block-end: 0;
  margin-inline: $throbber-size * 0.5;
  vertical-align: middle;
  white-space: nowrap;
  line-height: $throbber-size;

  .throbber {
    @include tools.square($throbber-size);

    border-width: 0.2rem;
    border-color: $ajax-color transparent $ajax-color $ajax-color;
  }

  .message {
    display: inline-block;
    padding-inline-start: $throbber-size * 0.5;
    font-size: 1.4rem;
    font-weight: 400;
  }
}

/**
 * Full screen throbber.
 */
.ajax-progress-fullscreen {
  @include tools.circle(5.6rem);

  position: fixed;
  z-index: 1000;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  margin-block: -2.8rem;
  margin-inline: -2.8rem;
  border-block: $ajax-border;
  border-inline: $ajax-border;
  background-color: settings.$color-light;
  box-shadow: 0 0.4rem 1rem rgb(34, 35, 48, 0.1); /* LTR */

  [dir="rtl"] & {
    box-shadow: 0 -0.4rem 1rem rgb(34, 35, 48, 0.1);
  }

  &:before {
    @include tools.square(2.8rem);

    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    margin-block: -1.4rem;
    margin-inline: -1.4rem;
    content: "";
    border-width: 0.3rem;
  }
}

/**
 * Common styles for all kinds of throbbers.
 */
.ajax-progress-throbber .throbber,
.ajax-progress-fullscreen::before {
  animation: ajax-throbber 0.75s linear infinite;
  border-style: solid dotted solid solid;
  border-color: $ajax-color transparent $ajax-color $ajax-color;
  border-radius: 50%;

  @if settings.$prefers-reduced-motion {
    @media screen and (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }
}

/**
 * Remove margin from ajax throbbers following buttons because buttons already
 * have a large margin set.
 */
html.js .button:not(.js-hide) + .ajax-progress-throbber {
  margin-inline-start: 0;
}
