/**
 * @file
 * Collapsible details.
 *
 * Based on Olivero.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

.c-details {
  // Settings
  --border-width: 0.1rem;
  --border-radius: 0.1rem;
  --summary-background: var(--color-background-light);
  --summary-background-hover: var(--color-primary-light);
  --padding-block: var(--unit-4x);
  --padding-inline: var(--unit-4x);
  --inline-gap: var(--unit-3x);
  --description-gap: var(--unit-2x);
  --color-description: var(--color-grey-40);

  // Theming
  display: block;
  color: inherit;
  border: 0.1rem solid var(--color-border);
  border-radius: var(--border-radius);

  &__icon {
    @include tools.global-transition;

    color: var(--color-primary);
  }

  // Details summary styles
  &__summary {
    @include tools.type(label);

    display: flex;
    align-items: center;
    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);
    list-style: none;
    cursor: pointer;
    background: var(--summary-background);
    font-weight: 700;
    gap: var(--inline-gap);

    @if settings.$prefers-reduced-motion {
      @media (--reduced-motion) {
        transition: none;
      }
    }

    &:hover {
      background: var(--summary-background-hover);
    }

    // Hide the marker
    &::-webkit-details-marker {
      display: none;
    }

    // Disable default outline for summary, since we have own implementation
    &:focus {
      outline: solid 0.2rem transparent;
      outline-offset: -0.4rem;
    }

    // Rotate arrow icon of the details summary, when details expanded
    .c-details[open] > & {
      .c-details__icon {
        transform: rotate(180deg);
      }
    }
  }

  // Details content wrapper
  &__wrapper {
    @include tools.global-transition;

    margin-block: var(--padding-block);
    margin-inline: var(--padding-inline);
  }

  // Description
  &__description {
    @include tools.type(description);

    margin-block-start: var(--description-gap);
    color: var(--color-description);
  }
}
