/**
 * @file
 * Long Text Field Component
 *
 * Theming long text search fields
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * WYSIWYG fields
 */
.c-field--type-text-long,
.c-field--type-text-with-summary {
  // Settings
  --vertical-space--1x: 0.5em;
  --vertical-space--2x: 1em;
  --vertical-space--3x: 1.5em;

  // Theming
  @include tools.type(body);

  @for $i from 2 through 6 {
    figure + h#{$i} {
      margin-block-start: 0;
    }

    ul + h#{$i},
    ol + h#{$i},
    table + h#{$i} {
      margin-block-start: var(--vertical-space--1x);
    }
  }

  ol {
    list-style-type: decimal;
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  ol ol ol {
    list-style-type: lower-roman;
  }

  ol ol ol ol {
    list-style-type: upper-latin;
  }

  ol ol ol ol ol {
    list-style-type: upper-roman;
  }

  ul {
    list-style-type: disc;
  }

  ul ul {
    list-style-type: circle;
  }

  ul ul ul {
    list-style-type: square;
  }

  strong,
  b {
    font-weight: 700;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: var(--vertical-space--3x);
    margin-block-end: var(--vertical-space--2x);
    margin-inline: 0;
  }

  h2 {
    @include tools.type(h2);
  }

  h3 {
    @include tools.type(h3);
  }

  h2 + h3 {
    margin-block-start: var(--vertical-space--1x);
  }

  h4 {
    @include tools.type(h4);
  }

  h3 + h4 {
    margin-block-start: var(--vertical-space--1x);
  }

  h5 {
    @include tools.type(h5);
  }

  h4 + h5 {
    margin-block-start: var(--vertical-space--1x);
  }

  h6 {
    @include tools.type(h6);
  }

  h5 + h6 {
    margin-block-start: var(--vertical-space--1x);
  }

  img {
    margin-block: var(--vertical-space--2x);
  }

  p + img,
  p + .c-media--type-image img {
    margin-block-start: 0;
  }

  table {
    margin-block: var(--vertical-space--2x);
    border: 0.1rem solid var(--color-secondary);
  }

  td {
    padding: 0.5em;
    border: 0.1rem solid var(--color-secondary);
  }

  th {
    color: var(--color-light);
    background: var(--color-secondary);
  }

  .align-center {
    display: block;
    margin-inline: auto;
  }

  .align-left {
    float: left;
    margin-inline-end: 1em;
  }

  .align-right {
    float: right;
    margin-inline-start: 1em;
  }

  .text-align-left {
    @include tools.text-align(start);
  }

  .text-align-right {
    @include tools.text-align(end);
  }

  .text-align-center {
    @include tools.text-align(center);
  }

  .text-align-justify {
    @include tools.text-align(justify, start);
  }
}
