/**
 * @file
 * Additional theming for Admin Toolbar
 *
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Settings
 */
$link-color         : #565656;
$accent-state-color : settings.$color-dark;

#toolbar-administration {
  font-size: 1.3rem;
}

.toolbar-tray a {
  color: $link-color;

  &:hover,
  &:active,
  &:focus,
  &.is-active {
    color: $accent-state-color;
  }
}
