/**
 * @file
 * Drupal Progress Component
 *
 * Visual styles for progress bar.
 *
 * Based on core's progress.js, so don't use BEMIT classes here.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Progress bar animations.
 */
@keyframes animate-stripes {
  0% {
    background-position: 0 0, 0 0;
  }

  100% {
    background-position: 0 0, -8rem 0;
  }
}

.progress {
  // Settings
  --progress-bar-color: var(--color-primary);
  --progress-track-border-color: var(--color-grey-30);
  --progress-track-background: var(--color-grey-10) linear-gradient(#e7e7df, #f0f0f0);
  --progress-bar-border-color: var(--progress-bar-color);
  --progress-bar-background: color-mix(in oklch, var(--progress-bar-color), var(--color-light) 15%) linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.15)),
    linear-gradient(to right bottom,
      color-mix(in oklch, var(--progress-bar-color), var(--color-light) 30%) 0%,
      color-mix(in oklch, var(--progress-bar-color), var(--color-light) 30%) 25%,
      color-mix(in oklch, var(--progress-bar-color), var(--color-light) 20%) 25%,
      color-mix(in oklch, var(--progress-bar-color), var(--color-light) 20%) 50%,
      color-mix(in oklch, var(--progress-bar-color), var(--color-light) 30%) 50%,
      color-mix(in oklch, var(--progress-bar-color), var(--color-light) 30%) 75%,
      color-mix(in oklch, var(--progress-bar-color), var(--color-light) 30%) 100%);

  // Theming
  &__track {
    border-color: var(--progress-track-border-color);
    border-radius: 10em;
    background: var(--progress-track-background);
    box-shadow: inset 0 0.1rem 0.3rem hsl(0, 0%, 0%, 0.16);
  }

  &__bar {
    block-size: 1.6rem;
    margin-block-start: -0.1rem;
    margin-inline-end: -0.1rem;
    padding-block: 0;
    padding-inline: 0.1rem;
    transition: width 0.5s ease-out;
    animation: animate-stripes 3s linear infinite;
    border-block: 0.1rem var(--progress-bar-border-color) solid;
    border-inline: 0.1rem var(--progress-bar-border-color) solid;
    border-radius: 10em;
    background: var(--progress-bar-background);
    background-size: 4rem 4rem;

    @if settings.$prefers-reduced-motion {
      @media (--reduced-motion) {
        transition: none;
        animation: none;
      }
    }

    [dir="rtl"] & {
      animation-direction: reverse;
    }
  }
}
