/**
 * @file
 * Override Admin Toolbar's Search Component
 *
 * We need this, because we use different font size of document: 10px vs 16px.
 * Plus need to fix a BEMit class too.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Settings
 */
:root {
  --search-input-color: #3b3b3b;
  --search-input-autocomplete-color: rgb(from var(--color-dark) r g b / 0.5);
  --search-input-border: 0.1rem solid #ccc;
  --search-input-background: #fcfcfa;
}

#admin-toolbar-search-tab .js-form-item.c-form-item {
  margin-block-start: 0.48rem;
  margin-block-end: 0;
}

#admin-toolbar-search-input {
  min-block-size: 1.6rem;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0.64rem;
  color: var(--search-input-color);
  border-block: var(--search-input-border);
  border-inline: var(--search-input-border);
  border-radius: unset;
  background: var(--search-input-background);
  font-size: 1em;
  line-height: 2.8rem;
}

.ui-autocomplete .ui-menu-item span.admin-toolbar-search-url {
  color: var(--search-input-autocomplete-color);
}

.admin-toolbar-search-autocomplete-list {
  overflow-y: scroll;
  max-block-size: 30rem;

  .ui-menu-item .ui-state-active {
    margin-block: 0;
    margin-inline: 0;
  }
}
