/**
 * @file
 * Vertical Tabs.
 *
 * Based on Olivero.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Settings
 */
$menu-width: 24rem;
$menu-border-width: 0.1rem;

.vertical-tabs {
  @include tools.breakpoint(tablet-l) {
    display: flex;
  }

  &__menu {
    position: relative;
    align-self: flex-start;
    margin-block: 0;
    margin-inline: 0;
    list-style: none;
    border-width: $menu-border-width;
    border-style: solid;
    border-color: settings.$color-grey-20;

    @include tools.breakpoint(tablet-l) {
      inline-size: $menu-width;
      border-width: $menu-border-width 0 $menu-border-width $menu-border-width;
    }

    &-item {
      &:nth-child(n + 2) {
        border-block-start: $menu-border-width solid settings.$color-grey-20;
      }

      a {
        display: block;
        padding-block: settings.$gutter * 0.5;
        padding-inline: settings.$gutter * 0.75;
        text-decoration: none;
        background-color: settings.$color-grey-20;

        &:focus,
        &:hover,
        &:active {
          background-color: settings.$color-grey-10;
        }
      }

      &.is-selected {
        background-color: settings.$color-light;

        @include tools.breakpoint(tablet-l) {
          margin-inline-end: calc($menu-border-width * -1);
          padding-inline-end: $menu-border-width;
        }

        a {
          background-color: transparent;
        }
      }

      &-summary {
        display: block;
        font-size: 1.4rem;
        line-height: 1.28;
      }
    }
  }

  &__panes {
    margin-block-start: calc($menu-border-width * -1);

    @include tools.breakpoint(tablet-l) {
      inline-size: calc(100% - $menu-width);
      margin-block-start: 0;
    }
  }

  &__pane {
    @include tools.breakpoint(tablet-l) {
      min-block-size: 100%;
    }

    &.c-details {
      margin-block: 0;
      margin-inline: 0;
      border-radius: 0;
      box-shadow: none;
    }

    > summary {
      display: none;
    }
  }
}
