/**
 * @file
 * Hamburger Component
 *
 * Theming hamburger button for site navigation.
 *
 * Based on Hamburgers.css
 * @author Jonathan Suh <hello@jonsuh.com>
 * @link https://jonsuh.com/hamburgers
 *
 * Used "Spring" animation, but you can use something else. To do this, change
 * active state according to hamburger type:
 * @link https://github.com/jonsuh/hamburgers/tree/master/_sass/hamburgers/types
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

.c-hamburger {
  // settings
  --padding-inline: 0;
  --padding-block: 0;
  --background: none;
  --border-radius: 0;
  --spinner-width: 3.1rem;
  --spinner-width--middle: var(--spinner-width);
  --spinner-height: 0.5rem;
  --spinner-spacing: 0.6rem; // vertical distance between horizontal lines
  --spinner-border-radius: calc(var(--spinner-height) / 2);
  --spinner-color: var(--color-primary);
  --spinner-color--active: var(--spinner-color);

  // Theming
  overflow: visible;
  margin-block-start: 3rem;
  margin-block-end: 3.5rem;
  margin-inline-start: 4rem;
  margin-inline-end: 0;
  padding-block: var(--padding-block);
  padding-inline: var(--padding-inline);
  cursor: pointer;
  transition: opacity 0.5s ease;
  color: inherit;
  border-block: 0;
  border-inline: 0;
  border-radius: var(--border-radius);
  background: var(--background);

  @if settings.$prefers-reduced-motion {
    @media (--reduced-motion) {
      transition: none;
    }
  }

  @media (--tablet-s) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  &__box {
    position: relative;
    display: block;
    inline-size: var(--spinner-width);
    block-size: calc(var(--spinner-height) * 3 + var(--spinner-spacing) * 2);
  }

  &__spinner {
    inset-block-start: calc(var(--spinner-height) / 2);
    display: block;
    margin-block-start: calc(var(--spinner-height) / -2);
    transition: background 0s 0.13s linear;

    @if settings.$prefers-reduced-motion {
      @media (--reduced-motion) {
        transition: none;
      }
    }

    &::before,
    &::after {
      display: block;
      content: "";
    }

    &,
    &::before,
    &::after {
      position: absolute;
      inline-size: var(--spinner-width);
      block-size: var(--spinner-height);
      transition: transform 0.15s ease;
      border-radius: var(--spinner-border-radius);
      background: var(--spinner-color);

      @if settings.$prefers-reduced-motion {
        @media (--reduced-motion) {
          transition: none;
        }
      }
    }

    &::before {
      inset-block-start: calc(var(--spinner-height) + var(--spinner-spacing));
      inset-inline-end: 0;
      inline-size: var(--spinner-width--middle);
      transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      @if settings.$prefers-reduced-motion {
        @media (--reduced-motion) {
          transition: none;
        }
      }

      .c-hamburger.is-active & {
        inset-block-start: 0;
        inset-inline-end: auto;
        inline-size: var(--spinner-width);
        transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, calc(var(--spinner-spacing) + var(--spinner-height)), 0) rotate(45deg);
        background: var(--spinner-color--active);

        @if settings.$prefers-reduced-motion {
          @media (--reduced-motion) {
            transition: none;
          }
        }
      }
    }

    &::after {
      inset-block-start: calc((var(--spinner-height) * 2) + (var(--spinner-spacing) * 2));
      inset-block-end: calc((var(--spinner-spacing) + var(--spinner-height)) * -1);
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      @if settings.$prefers-reduced-motion {
        @media (--reduced-motion) {
          transition: none;
        }
      }

      .c-hamburger.is-active & {
        inset-block-start: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, calc(var(--spinner-spacing) + var(--spinner-height)), 0) rotate(-45deg);
        background: var(--spinner-color--active);

        @if settings.$prefers-reduced-motion {
          @media (--reduced-motion) {
            transition: none;
          }
        }
      }
    }

    .c-hamburger.is-active & {
      transition-delay: 0.22s;
      background: none;
    }
  }
}
