/**
 * @file
 * Messages Component
 *
 * Based on Olivero Theme.
 */

/**
  * Imports
 */
@import "../global.importer";

/**
 * Settings
 */
$messages-icon-size         : 3.2rem;
$messages-close-icon-size   : 2.5rem;
$messages-color             : $color-light;
$messages-color--error      : $color-error;
$messages-color--warning    : $color-warning;
$messages-color--status     : $color-note;
$messages-color--info       : $color-note;
$messages-focus-color       : $color-note;

.c-messages {
  min-height: $messages-icon-size + $gutter--2x;
  padding-block: $gutter;
  padding-inline: $gutter * 1.5;
  color: $messages-color;
  outline: solid 0.1rem transparent;
  background-color: $color-grey;

  & * {
    color: inherit;
  }

  &.is-hidden {
    visibility: hidden;
    overflow: hidden;
    height: 0;
    min-height: 0;
    padding: 0;
  }

  &-list {
    margin-block: $gutter;
    padding: 0;
    list-style: none;
  }

  &__list {
    margin: 0;
    padding-block: 0;
    list-style: none;
  }

  /* Additional specificity to override contrib modules. */
  &.c-messages-list__item {
    background-image: none;
  }

  &:not(.is-hidden) ~ .c-messages {
    margin-block-start: $gutter;
  }

  &__item + .c-messages__item {
    margin-block-start: $gutter * 0.5;
  }

  &__container {
    display: flex;
  }

  &__header {
    flex-shrink: 0;
    margin-inline-end: $gutter;

    &.no-icon {
      margin-inline-end: 0;
    }
  }

  &__content {
    // Ensure large code blocks can be scrolled to.
    overflow: auto;
    flex: 1;
    padding-block-start: 0.3rem;
  }

  &__button {
    flex-shrink: 0;
    margin-inline-start: $gutter;
    padding-block-start: 0.3rem;
  }

  &__close {
    @include square($messages-close-icon-size);

    position: relative;
    padding: 0;
    cursor: pointer;
    vertical-align: top;
    border: 0;
    background: none;
    appearance: none;

    &::before,
    &::after {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      display: block;
      width: 3.3rem;
      height: 0;
      content: "";
      border-block-start: solid 0.2rem $color-grey-70;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      &::before,
      &::after {
        border-color: $messages-color;
      }
    }

    &:focus {
      outline: 0.2rem solid $messages-focus-color;
      outline-offset: 0.2rem;
    }
  }

  &__icon {
    vertical-align: top;

    .c-messages--error & {
      fill: $messages-color--error;
    }

    .c-messages--warning & {
      fill: $messages-color--warning;
    }

    .c-messages--status & {
      fill: $messages-color--status;
    }

    .c-messages--info & {
      fill: $messages-color--info;
    }
  }

  a:not([class]) {
    @include link($messages-color);
  }

  pre {
    margin: 0;
    white-space: normal;
  }

  .js-form-managed-file & {
    margin-block-end: $gutter;
    border-inline-start: solid 0.6rem $messages-color--error;
  }
}
