/**
 * @file
 * Additional theming for Admin Toolbar
 *
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

#toolbar-administration {
  font-size: 1.3rem;
}

.toolbar-tray a {
  // Settings
  --link-color: #565656;
  --accent-state-color: var(--color-dark);

  // Theming
  color: var(--link-color);

  &:hover,
  &:active,
  &:focus,
  &.is-active {
    color: var(--accent-state-color);
  }
}
