/**
 * @file
 * Table Wrapper Component
 *
 * Minimal responsive table with horizontal scrollbar.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

.c-table__wrapper {
  overflow-x: auto;
}
