/**
 * @file
 * Override Drupal Autocomplete Component
 *
 * Visual styles for autocomplete input field.
 * Based on Olivero.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

[type].form-autocomplete {
  // Settings
  --border-size-base: 0.1rem;
  --border-size-inline-start: 0.1rem;
  --search-icon: svg-load("images/icons/magnifying-glass-solid.svg");
  --search-icon-size: 1.8rem;
  --throbber-icon: svg-load("images/icons/90-ring-with-bg.svg");
  --throbber-icon-size: 1.9rem;
  --throbber-icon-inline-end-offset: 1.8rem;
  --throbber-icon-block-start-offset: calc(var(--throbber-icon-inline-end-offset) - var(--border-size-base));

  // Theming
  padding-inline-end: calc(var(--throbber-icon-size) + 2 * var(--throbber-icon-inline-end-offset));
  background: var(--color-light) var(--search-icon) no-repeat right var(--throbber-icon-inline-end-offset) center;
  background-size: var(--search-icon-size);

  &:disabled {
    background-color: var(--color-grey-30);
  }

  &.ui-autocomplete-loading {
    background-image: var(--search-icon);
  }

  &:dir(rtl) {
    background-position: left var(--throbber-icon-inline-end-offset) center;
  }
}
