/**
 * @file
 * Override Drupal User Module
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

.password-strength {
  margin-block: var(--gutter--1x);
  margin-inline: 2.4rem;

  &__title,
  &__text {
    display: inline;
    font-size: 1.4rem;
  }

  &__meter {
    block-size: 1rem;
    background-color: var(--color-grey-60);
  }

  &__indicator {
    inline-size: 0;
    block-size: 100%;
    background-color: var(--color-primary);
  }
}

.password-confirm-match {
  visibility: hidden;
}
