/**
 * @file
 * Action links Components
 *
 * Styles for action links.
*/

/**
  * Imports
 */
@use "../settings";
@use "../tools";

.c-action-links {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  list-style: none;

  li {
    display: inline-block;

    a {
      color: var(--color-text-primary);
    }
  }
}

.c-action-links__item {
  display: inline-block;
}
