/**
 * @file
 * Messages Component
 *
 * Based on Olivero Theme.
 */

/**
  * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Settings
 */
$icon-size: 3.2rem;
$close-icon-size: 2.5rem;
$color: settings.$color-light;
$color--error: settings.$color-error;
$color--warning: settings.$color-warning;
$color--status: settings.$color-note;
$color--info: settings.$color-note;
$focus-color: settings.$color-note;

.c-messages {
  min-block-size: $icon-size + settings.$gutter--2x;
  padding-block: settings.$gutter;
  padding-inline: settings.$gutter * 1.5;
  color: $color;
  outline: solid 0.1rem transparent;
  background-color: settings.$color-grey;

  & * {
    color: inherit;
  }

  &.is-hidden {
    visibility: hidden;
    overflow: hidden;
    block-size: 0;
    min-block-size: 0;
    padding-block: 0;
    padding-inline: 0;
  }

  &-list {
    margin-block: settings.$gutter;
    padding-block: 0;
    padding-inline: 0;
    list-style: none;
  }

  &__list {
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    list-style: none;
  }

  /* Additional specificity to override contrib modules. */
  &.c-messages-list__item {
    background-image: none;
  }

  &:not(.is-hidden) ~ .c-messages {
    margin-block-start: settings.$gutter;
  }

  &__item + .c-messages__item {
    margin-block-start: settings.$gutter * 0.5;
  }

  &__container {
    display: flex;
  }

  &__header {
    flex-shrink: 0;
    margin-inline-end: settings.$gutter;

    &.no-icon {
      margin-inline-end: 0;
    }
  }

  &__content {
    // Ensure large code blocks can be scrolled to.
    overflow: auto;
    flex: 1;
    padding-block-start: 0.3rem;
  }

  &__button {
    flex-shrink: 0;
    margin-inline-start: settings.$gutter;
    padding-block-start: 0.3rem;
  }

  &__close {
    @include tools.square($close-icon-size);

    position: relative;
    padding-block: 0;
    padding-inline: 0;
    cursor: pointer;
    vertical-align: top;
    border-block: 0;
    border-inline: 0;
    background: none;
    appearance: none;

    &::before,
    &::after {
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      display: block;
      inline-size: 3.3rem;
      block-size: 0;
      content: "";
      border-block-start: solid 0.2rem settings.$color-grey-70;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      &::before,
      &::after {
        border-color: $color;
      }
    }

    &:focus {
      outline: 0.2rem solid $focus-color;
      outline-offset: 0.2rem;
    }
  }

  &__icon {
    vertical-align: top;

    .c-messages--error & {
      fill: $color--error;
    }

    .c-messages--warning & {
      fill: $color--warning;
    }

    .c-messages--status & {
      fill: $color--status;
    }

    .c-messages--info & {
      fill: $color--info;
    }
  }

  a:not([class]) {
    @include tools.link($color);
  }

  pre {
    margin-block: 0;
    margin-inline: 0;
    white-space: normal;
  }

  .js-form-managed-file & {
    margin-block-end: settings.$gutter;
    border-inline-start: solid 0.6rem $color--error;
  }
}
