/**
 * @file
 * Long Text Field Component
 *
 * Theming long text search fields
 */

/**
  * Imports
 */
@import "../global.importer";

.c-field--type-text-long,
.c-field--type-text-with-summary {
  strong,
  b {
    font-weight: 700;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: 1.5em;
    margin-block-end: 1em;
    margin-inline: 0;
  }

  img {
    margin-block: 1em;
  }

  p + img,
  p + .c-media--type-image img {
    margin-block-start: 0;
  }

  .align-center {
    display: block;
    margin-inline: auto;
  }

  .align-left {
    float: left;
    margin-inline-end: 1em;
  }

  .align-right {
    float: right;
    margin-inline-start: 1em;
  }

  .text-align-left {
    @include text-align(start);
  }

  .text-align-right {
    @include text-align(end);
  }

  .text-align-center {
    @include text-align(center);
  }

  .text-align-justify {
    @include text-align(justify, start);
  }
}
