/**
 * @file
 * Hamburger Component
 *
 * Theming hamburger button for site navigation.
 *
 * Based on Hamburgers.css
 * @author Jonathan Suh <hello@jonsuh.com>
 * @link https://jonsuh.com/hamburgers
 *
 * Used "Spring" animation, but you can use something else. To do this, change
 * active state according to hamburger type:
 * @link https://github.com/jonsuh/hamburgers/tree/master/_sass/hamburgers/types
 */

/**
  * Imports
 */
@use "sass:math";
@use "../settings";
@use "../tools";

/**
 * Settings
 */
$padding-inline               : 0;
$padding-block                : 0;
$background                   : none;
$border-radius                : 0;
$spinner-width                : 3.1rem;
$spinner-width--middle        : $spinner-width;
$spinner-height               : 0.5rem;
$spinner-spacing              : 0.6rem; // vertical distance between horizontal lines
$spinner-border-radius        : $spinner-height * 0.5;
$spinner-color                : settings.$color-primary;
$spinner-color--active        : $spinner-color;

.c-hamburger {
  @include tools.round($border-radius);

  overflow: visible;
  margin-block-start: 3rem;
  margin-block-end: 3.5rem;
  margin-inline-start: 4rem;
  margin-inline-end: 0;
  padding-block: $padding-block;
  padding-inline: $padding-inline;
  cursor: pointer;
  transition: opacity 0.5s ease;
  color: inherit;
  border-block: 0;
  border-inline: 0;
  background: $background;

  @if settings.$prefers-reduced-motion {
    @media screen and (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }

  @include tools.breakpoint(small) {
    display: none;
  }

  &:focus {
    outline: none;
  }

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  &__box {
    position: relative;
    display: block;
    inline-size: $spinner-width;
    block-size: $spinner-height * 3 + $spinner-spacing * 2;
  }

  &__spinner {
    inset-block-start: $spinner-height * 0.5;
    display: block;
    margin-block-start: math.div($spinner-height, -2);
    transition: background 0s 0.13s linear;

    @if settings.$prefers-reduced-motion {
      @media screen and (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    &::before,
    &::after {
      display: block;
      content: "";
    }

    &,
    &::before,
    &::after {
      @include tools.round($spinner-border-radius);

      position: absolute;
      inline-size: $spinner-width;
      block-size: $spinner-height;
      transition: transform 0.15s ease;
      background: $spinner-color;

      @if settings.$prefers-reduced-motion {
        @media screen and (prefers-reduced-motion: reduce) {
          transition: none;
        }
      }
    }

    &::before {
      inset-block-start: $spinner-height + $spinner-spacing;
      inset-inline-end: 0;
      inline-size: $spinner-width--middle;
      transition:
        top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      @if settings.$prefers-reduced-motion {
        @media screen and (prefers-reduced-motion: reduce) {
          transition: none;
        }
      }

      .c-hamburger.is-active & {
        inset-block-start: 0;
        inset-inline-end: auto;
        inline-size: $spinner-width;
        transition:
          top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform:
          translate3d(0, $spinner-spacing + $spinner-height, 0)
          rotate(45deg);
        background: $spinner-color--active;

        @if settings.$prefers-reduced-motion {
          @media screen and (prefers-reduced-motion: reduce) {
            transition: none;
          }
        }
      }
    }

    &::after {
      inset-block-start: ($spinner-height * 2) + ($spinner-spacing * 2);
      inset-block-end: ($spinner-spacing + $spinner-height) * -1;
      transition:
        top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      @if settings.$prefers-reduced-motion {
        @media screen and (prefers-reduced-motion: reduce) {
          transition: none;
        }
      }

      .c-hamburger.is-active & {
        inset-block-start: 0;
        transition:
          top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform:
          translate3d(0, $spinner-spacing + $spinner-height, 0)
          rotate(-45deg);
        background: $spinner-color--active;

        @if settings.$prefers-reduced-motion {
          @media screen and (prefers-reduced-motion: reduce) {
            transition: none;
          }
        }
      }
    }

    .c-hamburger.is-active & {
      transition-delay: 0.22s;
      background: none;
    }
  }
}
