@charset "UTF-8";
.c-details{
  display:block;
  margin-top:1.5rem;
  margin-bottom:1.5rem;
  color:inherit;
  border:1px solid #d6d6d6;
  border-radius:0.2rem;
  box-shadow:0 1px 4px #c2c2c2;
}
[dir="ltr"] .c-details__summary{
  padding-left:3rem;}
[dir="rtl"] .c-details__summary{
  padding-right:3rem;}
[dir="ltr"] .c-details__summary{
  padding-right:1.5rem;}
[dir="rtl"] .c-details__summary{
  padding-left:1.5rem;}
.c-details__summary{
  position:relative;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  list-style:none;
  cursor:pointer;
  transition:background-color 0.12s ease-in-out;
  word-wrap:break-word;
  -webkit-hyphens:auto;
      -ms-hyphens:auto;
          hyphens:auto;
  color:inherit;
  background-color:#ebebeb;
  font-size:1.4rem;
  font-weight:700;
  line-height:1.28;
}
[dir="ltr"] .c-details__summary::before,[dir="ltr"]  .collapse-processed > .c-details__summary .details-title::before{
  left:1.125rem;}
[dir="rtl"] .c-details__summary::before,[dir="rtl"]  .collapse-processed > .c-details__summary .details-title::before{
  right:1.125rem;}
.c-details__summary::before, .collapse-processed > .c-details__summary .details-title::before{
  width:1rem;
  height:1rem;
  position:absolute;
  top:50%;
  display:block;
  content:"";
  transform:translateY(-50%) rotate(45deg);
  border:solid 2px currentColor;
}
[dir=rtl] .c-details__summary::before, [dir=rtl] .collapse-processed > .c-details__summary .details-title::before{
  transform:translateY(-50%) rotate(-135deg);
}
.c-details__summary::after, .collapse-processed > .c-details__summary .details-title::after{
  position:absolute;
  top:-1px;
  right:-1px;
  bottom:-1px;
  left:-1px;
  content:"";
  pointer-events:none;
  opacity:0;
  border-radius:0.2rem;
  box-shadow:inset 0 0 0 0.2rem #f7ca00;
}
.c-details__summary::-webkit-details-marker{
  display:none;
}
.c-details__summary:focus{
  outline:solid 2px transparent;
  outline-offset:-0.4rem;
}
.c-details__summary:hover{
  background-color:#d6d6d6;
}
.c-details__summary:focus::after, .c-details__summary:active::after, .collapse-processed > .c-details__summary .details-title:focus::after, .collapse-processed > .c-details__summary .details-title:active::after{
  opacity:1;
}
.c-details[open] > .c-details__summary::before, .collapse-processed[open] > .c-details__summary .details-title::before{
  margin-top:-2px;
  transform:translateY(-50%) rotate(135deg);
}
.collapse-processed > .c-details__summary{
  padding:0;
}
.collapse-processed > .c-details__summary::before{
  content:none;
}
.collapse-processed > .c-details__summary::after{
  content:none;
}
[dir="ltr"] .collapse-processed > .c-details__summary .details-title{
  padding-left:3rem;}
[dir="rtl"] .collapse-processed > .c-details__summary .details-title{
  padding-right:3rem;}
[dir="ltr"] .collapse-processed > .c-details__summary .details-title{
  padding-right:1.5rem;}
[dir="rtl"] .collapse-processed > .c-details__summary .details-title{
  padding-left:1.5rem;}
.collapse-processed > .c-details__summary .details-title{
  position:relative;
  display:block;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  transition:background-color 0.12s ease-in-out;
  text-decoration:none;
  color:inherit;
  background-color:#ebebeb;
}
.collapse-processed > .c-details__summary .details-title:focus{
  outline:solid 0.2rem transparent;
}
.collapse-processed > .c-details__summary .details-title:hover{
  background-color:#d6d6d6;
}
@media screen and (-ms-high-contrast: active){
  .collapse-processed > .c-details__summary .details-title::after{
    top:-0.5rem;
    right:-0.5rem;
    bottom:-0.5rem;
    left:-0.5rem;
    border:2px dotted;
  }
}
.c-details__wrapper{
  margin:1.5rem;
}
@media screen and (min-width: 62em){
  .c-details__wrapper{
    margin-top:2.25rem;
    margin-bottom:2.25rem;
    margin-left:3rem;
    margin-right:3rem;
  }
}
.c-details__description{
  margin-bottom:1.5rem;
  color:#474747;
  font-size:1.3rem;
  line-height:1.38;
}