@charset "UTF-8";
.c-field--type-text-long strong,
.c-field--type-text-long b,
.c-field--type-text-with-summary strong,
.c-field--type-text-with-summary b{
  color:#f7ca00;
  font-weight:700;
}
.c-field--type-text-long h2,
.c-field--type-text-long h3,
.c-field--type-text-long h4,
.c-field--type-text-long h5,
.c-field--type-text-long h6,
.c-field--type-text-with-summary h2,
.c-field--type-text-with-summary h3,
.c-field--type-text-with-summary h4,
.c-field--type-text-with-summary h5,
.c-field--type-text-with-summary h6{
  margin-top:1.5em;
  margin-bottom:1em;
  margin-left:0;
  margin-right:0;
  color:#f7ca00;
}
.c-field--type-text-long img,
.c-field--type-text-with-summary img{
  margin-top:1em;
  margin-bottom:1em;
}
.c-field--type-text-long p + img,
.c-field--type-text-long p + .c-media--type-image img,
.c-field--type-text-with-summary p + img,
.c-field--type-text-with-summary p + .c-media--type-image img{
  margin-top:0;
}
.c-field--type-text-long .align-center,
.c-field--type-text-with-summary .align-center{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
[dir="ltr"] .c-field--type-text-long .align-left,[dir="ltr"] 
.c-field--type-text-with-summary .align-left{
  float:left;}
[dir="rtl"] .c-field--type-text-long .align-left,[dir="rtl"] 
.c-field--type-text-with-summary .align-left{
  float:right;}
[dir="ltr"] .c-field--type-text-long .align-left,[dir="ltr"] 
.c-field--type-text-with-summary .align-left{
  margin-right:1em;}
[dir="rtl"] .c-field--type-text-long .align-left,[dir="rtl"] 
.c-field--type-text-with-summary .align-left{
  margin-left:1em;}
[dir="ltr"] .c-field--type-text-long .align-right,[dir="ltr"] 
.c-field--type-text-with-summary .align-right{
  float:right;}
[dir="rtl"] .c-field--type-text-long .align-right,[dir="rtl"] 
.c-field--type-text-with-summary .align-right{
  float:left;}
[dir="ltr"] .c-field--type-text-long .align-right,[dir="ltr"] 
.c-field--type-text-with-summary .align-right{
  margin-left:1em;}
[dir="rtl"] .c-field--type-text-long .align-right,[dir="rtl"] 
.c-field--type-text-with-summary .align-right{
  margin-right:1em;}