@charset "UTF-8";
[dir="ltr"] .c-messages{
  padding-left:1.5rem 2.25rem;}
[dir="rtl"] .c-messages{
  padding-right:1.5rem 2.25rem;}
[dir="ltr"] .c-messages{
  padding-right:1.5rem 2.25rem;}
[dir="rtl"] .c-messages{
  padding-left:1.5rem 2.25rem;}
[dir="ltr"] .c-messages{
  border-right:1rem solid transparent;}
[dir="rtl"] .c-messages{
  border-left:1rem solid transparent;}
.c-messages{
  min-height:6.2rem;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  color:#fff;
  outline:solid 1px transparent;
  background-color:#333;
}
.c-messages *{
  color:inherit;
}
.c-messages.is-hidden{
  visibility:hidden;
  overflow:hidden;
  height:0;
  min-height:0;
  padding:0;
}
[dir="ltr"] .c-messages-list{
  padding-left:0;}
[dir="rtl"] .c-messages-list{
  padding-right:0;}
[dir="ltr"] .c-messages-list{
  padding-right:0;}
[dir="rtl"] .c-messages-list{
  padding-left:0;}
.c-messages-list{
  margin-top:1.5rem;
  margin-bottom:1.5rem;
  padding-top:0;
  padding-bottom:0;
  list-style:none;
}
.c-messages.messages-list__item{
  background-image:none;
}
.c-messages:not(.is-hidden) ~ .messages{
  margin-top:1.5rem;
}
.c-messages__item + .messages__item{
  margin-top:0.75rem;
}
.c-messages__container{
  display:flex;
}
[dir="ltr"] .c-messages__header{
  margin-right:1.5rem;}
[dir="rtl"] .c-messages__header{
  margin-left:1.5rem;}
.c-messages__header{
  flex-shrink:0;
}
[dir="ltr"] .c-messages__header.no-icon{
  margin-right:0;}
[dir="rtl"] .c-messages__header.no-icon{
  margin-left:0;}
.c-messages__content{
  overflow:auto;
  flex:1;
  padding-top:0.3rem;
}
[dir="ltr"] .c-messages__button{
  margin-left:1.5rem;}
[dir="rtl"] .c-messages__button{
  margin-right:1.5rem;}
.c-messages__button{
  flex-shrink:0;
  padding-top:0.3rem;
}
[dir="ltr"] .c-messages__close{
  padding-left:0;}
[dir="rtl"] .c-messages__close{
  padding-right:0;}
[dir="ltr"] .c-messages__close{
  padding-right:0;}
[dir="rtl"] .c-messages__close{
  padding-left:0;}
.c-messages__close{
  width:2.5rem;
  height:2.5rem;
  position:relative;
  cursor:pointer;
  vertical-align:top;
  border:0;
  background:none;
  -webkit-appearance:none;
          appearance:none;
}
[dir="ltr"] .c-messages__close::before,[dir="ltr"]  .c-messages__close::after{
  right:50%;}
[dir="rtl"] .c-messages__close::before,[dir="rtl"]  .c-messages__close::after{
  left:50%;}
.c-messages__close::before, .c-messages__close::after{
  position:absolute;
  top:50%;
  display:block;
  width:3.3rem;
  height:0;
  content:"";
  border-top:solid 2px #707070;
}
.c-messages__close::before{
  transform:translate(-50%, -50%) rotate(45deg);
}
.c-messages__close::after{
  transform:translate(-50%, -50%) rotate(-45deg);
}
.c-messages__close:hover::before, .c-messages__close:hover::after{
  border-color:#fff;
}
.c-messages__close:focus{
  outline:0.2rem solid #f7ca00;
  outline-offset:0.2rem;
}
.c-messages__icon svg{
  vertical-align:top;
}
.messages--error .c-messages__icon svg{
  fill:#53c2bc;
}
.messages--warning .c-messages__icon svg{
  fill:#53c2bc;
}
.messages--status .c-messages__icon svg{
  fill:#53c2bc;
}
.messages--info .c-messages__icon svg{
  fill:#53c2bc;
}
.c-messages a{
  color:#fff;
}
.c-messages pre{
  margin:0;
  white-space:normal;
}
[dir="ltr"] .js-form-managed-file .c-messages{
  border-left:solid 0.6rem #53c2bc;}
[dir="rtl"] .js-form-managed-file .c-messages{
  border-right:solid 0.6rem #53c2bc;}
.js-form-managed-file .c-messages{
  margin-bottom:1.5rem;
}