/**
 * @file
 * Type Settings
 *
 * Global typography settings:
 * - Font-family declarations
 * - Font-size declarations
 * - Text color declarations
 *
 * @example
 *   font-family: var(--font-family-primary);
 *   font-size: var(--font-size-body);
 *   line-height: var(--line-height-body);
 *
 * Or with the type mixin:
 *   @include tools.type(body);
 */

 :root {
  /**
   * Font family settings
   *
   * System font stacks for optimal performance.
   * Override with custom webfonts in your project settings.
   */

  // System (sans-serif) font-stack
  --font-family-system: -apple-system, system-ui, "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  // Monospace font-stack
  --font-family-monospace: "SFMono-Regular", "Menlo", "Monaco", "Segoe UI Mono",
    "Consolas", "Liberation Mono", "Courier New", monospace;

  /**
   * Font-stacks by functions
   */
  --font-family-primary: "Open Sans", var(--font-family-system);
  --font-family-secondary: var(--font-family-primary);
  --font-family-code: var(--font-family-monospace); // required by reset

  /**
   * Base Typography
   * Default line-height used as fallback
   */
  --line-height-base: 1.2;

  /**
   * Body Typography
   * Used for <body> element in 3.base/_base.type
   */
  --font-size-body: 1.4rem;
  --line-height-body: 1.6;

  /**
   * Heading Typography
   */
  // H1 Font size
  --font-size-h1: 4rem;
  --line-height-h1: var(--line-height-base);

  // H2 Font size
  --font-size-h2: 2.7rem;
  --line-height-h2: var(--line-height-base);

  // H3 Font size
  --font-size-h3: 2.4rem;
  --line-height-h3: var(--line-height-base);

  // H4 Font size
  --font-size-h4: 2.1rem;
  --line-height-h4: var(--line-height-base);

  // H5 Font size
  --font-size-h5: 1.8rem;
  --line-height-h5: var(--line-height-base);

  // H6 Font size
  --font-size-h6: 1.2rem;
  --line-height-h6: var(--line-height-base);

  /**
   * Code Typography
   */
  --font-size-code: 1.4rem;
  --line-height-code: 2;

  /**
   * Form Typography
   */
  // Input font size
  --font-size-input: 1.6rem;
  --line-height-input: 1.5;

  // Label font size
  --font-size-label: 1.4rem;
  --line-height-label: 1.5;
}

/**
 * Responsive Typography
 * Override custom properties at breakpoints
 */
@media (--tablet-l) {
  :root {
    // Body
    --font-size-body: 1.6rem;

    // H1 Font size
    --font-size-h1: 6rem;

    // H2 Font size
    --font-size-h2: 5.4rem;

    // H3 Font size
    --font-size-h3: 3.6rem;

    // H4 Font size
    --font-size-h4: 2.7rem;

    // H5 Font size
    --font-size-h5: 2.4rem;

    // Code
    --font-size-code: 1.6rem;

    // Input font size
    --line-height-input: 1.2;

    // Label font size
    --line-height-label: 1.2;
  }
}
