/**
 * @file
 * Breakpoints
 */

/**
 * Default breakpoints
 *
 * Default global breakpoints map. These are the default breakpoints map that
 * will be shared across all shake modules. You can change it also locally to
 * each module. Don't forget you have to use only pixels or ems here!
 *
 * @type Map
 *
 * @example
 *   @include breakpoint(medium) {
 * }
 *
 */

// prettier-ignore
$breakpoints: (
  tablet-s : "screen and (min-width: 48em)", // 768px
  tablet-l : "screen and (min-width: 64em)", // 1024px
  desktop  : "screen and (min-width: 75em)", // 1200px
) !default;

/**
 * Default breakpoint suffix
 *
 * Global breakpoint suffix naming setting.
 * All breakpoint specific styles have a `@breakpoint-name` suffix by default.
 * The `\` character is used to escape the `@` character.
 *
 * @type String
 */
$breakpoint-separator: \@;

/**
 * Sample for custom breakpoints
 *
 * @type Map
 *
 * @example
 *   .c-header {
 *     margin-right: 3rem;
 *
 *     @include breakpoint(large, $my-breakpoints) {
 *       margin-right: 0;
 *     }
 *   }
 *
 * Using a custom breakpoints map without size
 * You can use `null` value for breakpoint without size like orientation only.
 *
 * @example
 *   $portrait: (
 *     null   : screen and (orientation: portrait),
 *     small  : screen and (orientation: portrait) and (min-width: 20em), // 320px
 *     xlarge : screen and (orientation: portrait) and (min-width: 80em) // 1280px
 *   );
 *
 * @example
 *   .c-header {
 *     margin-right: 3rem;
 *
 *     @include breakpoint($portrait) {
 *       margin-right: 0;
 *     }
 *   }
 */

/**
 * max-width
 */
// prettier-ignore
$max-width: (
  mobile   : "screen and (max-width: 47.94em)",     // 767px
  tablet-s : "screen and (max-width: 63.94em)",     // 1023px
  tablet-l : "screen and (max-width: 74.94em)",     // 1199px
  desktop  : "screen and (max-width: 119.9375em)",  // 1919px
) !default;
