/**
* @file
 * Color Settings
 *
 * - Only global color variables. Local color variables you can find in module
 *   files in `3.base` or `5.components` directories.
 * - Only assigned colors. You can't use any color tools here.
 *
 * @example
 *   color: var(--color-primary);
 */

:root {
  /**
   * Color definitions
   *
   * Named colors stored as shades. If it's possible choose from these colors
   * only.
   */
  --color-dark: #000;
  --color-light: #fff;

  /**
   * Grayscale colors for Drupal components
   *
   * You can change but don't remove them.
   */
  --color-grey: #303742;

  /**
   * Different shades of the default grey color
   *
   * The number = hsl lightness offset from base (--color-grey).
   * Higher number = lighter. Above 100 = darker than base.
   */
  --color-grey-120: hsl(from var(--color-grey) h s calc(l - 20)); // darkest grey
  --color-grey-110: hsl(from var(--color-grey) h s calc(l - 10));
  --color-grey-100: var(--color-grey); // default grey
  --color-grey-90: hsl(from var(--color-grey) h s calc(l + 10));
  --color-grey-80: hsl(from var(--color-grey) h s calc(l + 20));
  --color-grey-70: hsl(from var(--color-grey) h s calc(l + 30));
  --color-grey-60: hsl(from var(--color-grey) h s calc(l + 40));
  --color-grey-50: hsl(from var(--color-grey) h s calc(l + 50));
  --color-grey-40: hsl(from var(--color-grey) h s calc(l + 60));
  --color-grey-30: hsl(from var(--color-grey) h s calc(l + 70));
  --color-grey-20: hsl(from var(--color-grey) h s calc(l + 80));
  --color-grey-10: hsl(from var(--color-grey) h s calc(l + 90));
  --color-grey-05: hsl(from var(--color-grey) h s calc(l + 95)); // lightest grey

  /**
   * Design needed global color definitions
   */
  --color-black: #13161a;
  --color-indigo: #5755d9;

  /**
   * System colors
   *
   * These colors are used for system messages, alerts, and other system
   * components.
   */
  --color-green: #32b643;
  --color-yellow: #ffb700;
  --color-orange: #e85600;

  /**
   * Global colors by functions
   *
   * Here we associate the defined named colors to functions.
   * If possible use colors by functions only.
   */
  // Base colors
  --color-brand: var(--color-indigo);
  --color-primary: var(--color-brand);
  --color-primary-light: hsl(from var(--color-primary) h s calc(l + 37.5));

  // Text colors
  --color-text-primary: var(--color-grey-90);
  --color-text-dark: var(--color-black);
  --color-text-inverse: var(--color-light);
  --color-code: #d73e48; // Don't remove this color, it's used in code elements

  // Background colors
  --color-background-primary: var(--color-light);
  --color-background-light: hsl(from var(--color-grey) h s calc(l + 75));
  --color-background-dark: hsl(from var(--color-background-light) h s calc(l - 3));

  // Border colors
  --color-border: hsl(from var(--color-grey) h s calc(l + 60));
  --color-border-dark: hsl(from var(--color-border) h s calc(l - 15));

  // You can change them, but don't remove these
  --color-success: hsl(from var(--color-green) h s calc(l + 15));
  --color-warning: hsl(from var(--color-yellow) h s calc(l + 15));
  --color-error: hsl(from var(--color-orange) h s calc(l + 15));
  --color-note: var(--color-light);
}
