/**
 * @file
 * Theming Settings
 */

:root {
  /**
   * Global Border Radius
   */
  --border-radius: 0.8rem;

  /**
   * Transitions
   */
  --transition-property: all;
  --transition-timing: 0.2s;
  --transition-easing: ease;
}
