/**
* @file
 * Form Settings
 *
 * Only global wide form settings. We can use them in any form-related
 * component as default settings.
 */

/**
 * Form Borders
 */
$form-border-size-base: 0.2rem;
$form-border-size-inline-start: 0.6rem;
$form-border-radius: 0.2rem;
$form-padding-block: 1.4rem;
$form-padding-inline: 2.4rem;
$form-gutter: $form-padding-block * 2;
