/**
 * @file
 * CSS Grid Settings
 *
 * You can use them to create your own CSS Grid layout.
 */

/**
 * Gutter
 */

/**
 * Define Gutter Sizes
 */
$gutter: 1.5rem; // 15px
$gutter--2x: $gutter * 2; // 30px
$gutter--4x: $gutter * 4; // 60px

/**
 * Responsive Aliases for Gutters
 */
$gutter--small: $gutter !default;
$gutter--medium: $gutter--2x !default;
$gutter--large: $gutter--4x !default;

/**
 * Default gutters
 *
 * This setting is shared between multiple objects and utilities as the default
 * value for gutters. You can change it also locally to each module.
 *
 * @type Number | List | Map
 */
// prettier-ignore
$gutter-default: (
  null  : $gutter--small,
  tablet-s : $gutter--medium,
  desktop : $gutter--large
) !default;

/**
 * Additional grid gutters
 *
 * If you use additionally Container object with custom gutters
 * you have to set custom those custom gutters for Grid object too!
 *
 * You can use a nested map in case you would like to specify responsive gutter
 * sizes.
 *
 * @type Map
 *
 * @example
 *   $grid-gutter-extra: (
 *     wide: (
 *       null : 2rem,
 *       tablet-s: 4rem
 *     )
 *   );
 */
$grid-gutter-extra: () !default;
