/**
* @file
 * Form Settings
 *
 * Only global wide form settings. We can use them in any form-related
 * component as default settings.
 */

/**
 * Form Borders
 */
$global-form-border-size-base         : 0.2rem;
$global-form-border-size-inline-start : 0.6rem;
$global-form-border-radius            : 0.2rem;
$global-form-padding-block            : 1.4rem;
$global-form-padding-inline           : 2.4rem;
