/**
 * @file
 * Is It a Sass Map?
 *
 * Check the given value's type is sass map or not.
 *
 * Part of Shake.sass, borrowed from iota.css.
 * @author Dimitris Psaropoulos <info@harby.me>
 *
 * @type Function
 */

/**
 * Imports
 */
@use "sass:meta";

/**
 * Is Sass Map Function
 *
 * @parameter {string | number | map} $map - The given css value.
 */
@function is-map($map) {
  @return meta.type-of($map) == "map";
}
