/**
 * @file
 * Is It a Color?
 *
 * Check the given value's type is color or not.
 *
 * Part of Shake.sass, borrowed from bourbon.
 *
 * @type Function
 */

/**
 * Imports
 */
@use "sass:meta";

/**
 * Is Color Function
 *
 * @parameter {string | number | map} $color - The given css value.
 * @return {boolean}
 */
@function is-color($color) {
  @return (meta.type-of($color) == color) or ($color == "currentColor");
}
