@charset "UTF-8";
.c-block-local-tasks-block{
  margin:1em 0;
}
.tabs{
  background:#333;
  display:flex;
  flex-direction:column;
  margin:0;
  padding:0 0 1px;
  width:100%;
}
@media screen and (min-width: 48em){
  .tabs{
    flex-direction:row;
    flex-wrap:wrap;
  }
}
.tabs__tab{
  display:none;
  margin:0 0 -1px;
}
@media screen and (min-width: 48em){
  .tabs__tab{
    display:flex;
    margin:0 -1px -1px 0;
  }
}
.tabs.is-expanded .tabs__tab,.tabs__tab.is-active,html:not(.js) .tabs__tab{
  display:flex;
}
.tabs--secondary .tabs__tab{
  display:block;
}
@media screen and (min-width: 48em){
  .tabs--secondary .tabs__tab{
    display:flex;
  }
}
.tabs__link{
  align-items:center;
  background:#333;
  border:1px solid #333;
  color:#fff;
  display:flex;
  flex-grow:1;
  font-size:1.4rem;
  height:5rem;
  letter-spacing:1px;
  padding:0 2.5rem;
  text-decoration:none;
  text-transform:uppercase;
  transition:background-color .2s;
}
.tabs--secondary .tabs__link{
  text-transform:none;
}
@media screen and (min-width: 48em){
  .tabs--secondary .tabs__link{
    background-color:transparent;
    border-left-color:transparent;
    border-right-color:transparent;
    border-top-color:transparent;
  }
}
.tabs__link:focus{
  border-color:#f7ca00;
  outline:none;
  position:relative;
  z-index:1;
}
.tabs__link:hover{
  background:#5c5c5c;
  color:#fff;
}
.tabs__link.is-active{
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-weight:700;
  position:relative;
}
.tabs__link.is-active:after{
  border-left:.6rem solid #f7ca00;
  bottom:-1px;
  content:"";
  height:calc(100% + 2px);
  left:-1px;
  position:absolute;
}
@media screen and (min-width: 48em){
  .tabs__link.is-active:after{
    border-left:0;
    border-top:.6rem solid #f7ca00;
    height:auto;
    left:0;
    width:100%;
  }
}
.tabs__trigger{
  align-items:center;
  background-color:#333;
  border:1px solid #333;
  cursor:pointer;
  display:flex;
  justify-content:center;
  margin:0 0 0 -1px;
  width:5rem;
}
@media screen and (min-width: 48em){
  .tabs__trigger{
    display:none;
  }
}
.tabs__trigger:hover{
  background-color:#5c5c5c;
}
.tabs__trigger:focus{
  border-color:#f7ca00;
  outline:none;
  position:relative;
}
html:not(.js) .tabs__trigger{
  display:none;
}
.tabs__trigger-icon{
  height:10px;
  margin-top:-2px;
  position:relative;
  width:1.8rem;
}
.tabs__trigger[aria-expanded=true] .tabs__trigger-icon > div:nth-child(1){
  top:calc(50% + 1px);
  transform:rotate(45deg);
}
.tabs__trigger[aria-expanded=true] .tabs__trigger-icon > div:nth-child(2){
  opacity:0;
}
.tabs__trigger[aria-expanded=true] .tabs__trigger-icon > div:nth-child(3){
  top:calc(50% + 1px);
  transform:rotate(-45deg);
}
.tabs__trigger-icon > div{
  border-top:2px solid #fff;
  left:0;
  position:absolute;
  transition:transform .2s,opacity .2s,top .2s;
  width:100%;
}
.tabs__trigger-icon > div:nth-child(1){
  top:0;
}
.tabs__trigger-icon > div:nth-child(2){
  top:calc(50% + 1px);
}
.tabs__trigger-icon > div:nth-child(3){
  top:calc(100% + 2px);
}

/*# sourceMappingURL=components.tabs.css.map*/