/**
 * @file
 * CSS Box-Model Tool
 *
 * CSS Box-model-related mixins.
 *
 * @author Krisztian Pinter <krisz@keeteean.com>
 */

/**
 * Square mixin
 *
 * Use it, when you need similar width and height with square shape.
 *
 * @parameter {string} $value - Amount of desired width and height in any unit.
 *
 * @example
 *   @include square(6rem);
 */

@mixin square($value) {
  width: $value;
  height: $value;
}

/**
 * Circle mixin
 *
 * Use it, when you need similar width and height width circle shape.
 *
 * @parameter {string} $value - Amount of desired width and height in any unit.
 *
 * @example
 *   @include circle(6rem);
 */

@mixin circle($value) {
  width: $value;
  height: $value;
  border-radius: $value * 0.5;
}
