/**
 * @file
 * Reset Tools
 *
 * Modern CSS reset based on modern-normalize v3.0.1
 * with Sass variables for toggleable features.
 *
 * @author Sindre Sorhus (modern-normalize)
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @see https://github.com/sindresorhus/modern-normalize
 */

/**
 *** Settings ***
 */

/**
 * Heading font size reset
 *
 * Makes all heading tags (h1-h6) inherit font-size and font-weight.
 * Forces semantic heading usage.
 *
 * @type Boolean
 */
$heading-size: true !default;

/**
 * Small element font size
 *
 * If true: inherits font-size (semantic usage)
 * If false: uses 80% (browser default)
 *
 * @type Boolean
 */
$small-size: true !default;

/**
 * Font Antialiasing
 *
 * Makes font thickness consistent across Firefox and Webkit.
 *
 * @type Boolean
 */
$font-antialiasing: false !default;

/**
 * List bullets removal
 *
 * Removes bullets from ul, ol, menu with CSS classes.
 * Encourages semantic list usage for navigation etc.
 *
 * @type Boolean
 */
$list-bullets: true !default;

/**
 * Table normalizer
 *
 * @type Boolean
 */
$table-normalize: true !default;

/**
 * Full width images
 *
 * Makes all images 100% width of parent container.
 *
 * @type Boolean
 */
$full-width-images: false !default;

/**
 * Form elements normalizer
 *
 * @type Boolean
 */
$form-elements: true !default;

/**
 * Button element reset
 *
 * Fully resets button appearance for custom styling.
 *
 * @type Boolean
 */
$button-element: false !default;

/**
 *** Document ***
 */

/**
 * Document defaults
 *
 * 1. Use border-box by default
 * 2. Prevent font-size adjustments after orientation changes in iOS
 * 3. Use readable tab size
 * 4. Force scrollbars to prevent layout jumps
 * 5. Ensure page fills viewport height
 * 6. Optional font antialiasing
 */
@mixin document($font-antialiasing: $font-antialiasing) {
  html {
    overflow-y: scroll; // 4
    box-sizing: border-box; // 1
    min-block-size: 100%; // 5
    tab-size: 4; // 3
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-text-size-adjust: 100%; // 2

    @if $font-antialiasing {
      -webkit-font-smoothing: antialiased; // 6
      -moz-osx-font-smoothing: grayscale; // 6
    }
  }
}

/**
 * Box-sizing inheritance
 */
@mixin box-sizing {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

/**
 *** Sections ***
 */

/**
 * Reset margin and padding on common elements
 */
@mixin sections {
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  p,
  pre,
  dl,
  dd,
  ol,
  ul,
  figure,
  hr,
  fieldset,
  legend,
  menu {
    margin: 0;
    padding: 0;
  }
}

/**
 * Heading font-size reset
 *
 * Encourages semantic heading usage.
 */
@mixin heading-fontsize($heading-size: $heading-size) {
  @if $heading-size {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

/**
 *** Text-level semantics ***
 */

/**
 * Bold elements
 */
@mixin bold {
  b,
  strong {
    font-weight: bolder;
  }
}

/**
 * Code elements
 *
 * Uses --font-family-code from settings.type
 */
@mixin code {
  code,
  kbd,
  samp,
  pre {
    font-family: var(--font-family-code);
    font-size: 1em;
  }
}

/**
 * Small element
 */
@mixin small($small-size: $small-size) {
  small {
    @if $small-size {
      font-size: inherit;
    } @else {
      font-size: 80%;
    }
  }
}

/**
 * Subscript and superscript
 */
@mixin sub-sup {
  sub,
  sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
  }

  sub {
    inset-block-end: -0.25em;
  }

  sup {
    inset-block-start: -0.5em;
  }
}

/**
 * Address styling
 */
@mixin address {
  address {
    font-style: normal;
  }
}

/**
 * List bullets removal for lists with classes
 */
@mixin list-bullets($list-bullets: $list-bullets) {
  @if $list-bullets == false {
    list-style: none;
  }
}

/**
 *** Tabular data ***
 */

/**
 * Table normalizer
 */
@mixin table($table-normalize: $table-normalize) {
  @if $table-normalize {
    table {
      inline-size: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      border-color: currentColor;
    }
  }
}

/**
 *** Embedded content ***
 */

/**
 * Images and media
 */
@mixin images($full-width: $full-width-images) {
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-inline-size: 100%;
    block-size: auto;

    @if $full-width {
      inline-size: 100%;
    }
  }
}

/**
 *** Forms ***
 */

/**
 * Form elements normalizer
 */
@mixin form-elements($form-elements: $form-elements) {
  @if $form-elements {
    // Inherit font styles and remove margin
    button,
    input,
    optgroup,
    select,
    textarea {
      margin: 0;
      font-family: inherit;
      font-size: 100%;
      line-height: 1.15;
    }

    // Clickable types in iOS and Safari
    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-appearance: button;
    }

    // Legend padding
    legend {
      padding: 0;
    }

    // Progress vertical alignment
    progress {
      vertical-align: baseline;
    }

    // Spin buttons in Safari
    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
      block-size: auto;
    }

    // Search input in Chrome and Safari
    [type="search"] {
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-appearance: textfield;
      outline-offset: -0.2rem;
    }

    // Search decoration in macOS
    ::-webkit-search-decoration {
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-appearance: none;
    }

    // File upload button
    ::-webkit-file-upload-button {
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-appearance: button;
      font: inherit;
    }
  }
}

/**
 *** Interactive ***
 */

/**
 * Summary element
 */
@mixin summary {
  summary {
    display: list-item;
  }
}

/**
 * Button element reset
 */
@mixin button-element($button-element: $button-element) {
  @if $button-element {
    button {
      padding: 0;
      cursor: pointer;
      color: currentColor;
      border: 0;
      background: none;
      appearance: none;
    }
  }
}
