/**
 * @file
 * Button Tool
 *
 * Button mixins for different DOMs.
 */

/**
 * Imports
 */
@use "../settings";
@use "./tools.transitions" as transitions;
@use "./tools.type" as type;

/**
 * Button mixin
 */
@mixin button {
  @include type.font-smooth;
  @include transitions.global-transition;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  cursor: pointer;
  color: var(--color-light);
  border-block: 0;
  border-inline: 0;
  background: var(--color-primary);
  font-weight: 700;
}
