/**
 * @file
 * Type Tool
 *
 * Inline typography related mixins.
 */

/**
 * Type Mixin
 *
 * Applies font-size and line-height from CSS custom properties.
 * Responsive behavior is handled in `1.settings/_settings.type.scss`
 * via `@media (--medium)` overrides on `:root`.
 *
 * @parameter {string} $name - The type name (body, h1, h2, h3, h4, h5, h6,
 * code, input, label)
 *
 * @example
 *   @use "../tools";
 *
 *   body {
 *     @include tools.type(body);
 *   }
 *
 *   h1 {
 *     @include tools.type(h1);
 *   }
 *
 *   .custom-heading {
 *     @include tools.type(h2);
 *     font-family: var(--font-family-secondary);
 *   }
 */
@mixin type($name) {
  font-size: var(--font-size-#{$name});
  line-height: var(--line-height-#{$name});
}

/**
 * Font Antialiasing
 *
 * Makes font thickness to look the same in Firefox and Webkit.
 * You can set this globally too in `3.base/_base.reset.scss`.
 *
 * @example
 *   @use "../tools";
 *
 *   h1 {
 *     @include tools.font-smooth;
 *   }
 */
@mixin font-smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

