/**
 * @file
 * Video Utility
 *
 * Video utility to make responsive videos.
 * Images, SVGs are responsive by default!
 *
 * Part of Shake.sass, based on Spectre.css.
 * @author Yan Zhu <picturepan2@hotmail.com>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://picturepan2.github.io/spectre/elements/media.html
 *
 * For responsive video, add a container with the `.u-video-responsive` class.
 * Insert any YouTube, Vimeo or other iframe/embed video inside the container.
 * The ratio is 16:9 by default.
 * You may add `.u-video-responsive--4-3` for 4:3 ratio video container
 * or `.u-video-responsive--1-1` for 1:1 ratio.
 *
 * @example
 *   <div class="u-video-responsive u-video-responsive--4-3">
 *     <iframe src="..." width="..." height="..." frameborder="0" allowfullscreen></iframe>
 *   </div>
 *
 * For responsive `<video>` elements, you can add the `.u-video-responsive` class directly.
 *
 * @example
 *   <video class="u-video-responsive" src="...">...</video>
 */

/**
 * Video responsive
 *
 * 1. Default ratio 16:9, you can calculate this value by dividing 9 by 16
 */

/**
 * Video Container
 */
.u-video-responsive {
  position: relative;
  display: block;
  inline-size: 100%;
  aspect-ratio: 16 / 9;

  iframe,
  object,
  embed {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    border: 0;
  }
}

/**
 * Native video element
 */
video.u-video-responsive {
  block-size: auto;
  aspect-ratio: auto;
}

/**
 * Video ratio: 4:3
 */
.u-video-responsive--4-3 {
  aspect-ratio: 4 / 3;
}

/**
 * Video ratio: 1:1 (square)
 */
.u-video-responsive--1-1 {
  aspect-ratio: 1 / 1;
}

/**
 * Video ratio: 21:9
 */
.u-video-responsive--21-9 {
  aspect-ratio: 21 / 9;
}
