/**
 * @file
 * Base Reset
 *
 * Modern CSS reset based on modern-normalize v3.0.1
 * with toggleable features via Sass variables.
 *
 * @author Sindre Sorhus (modern-normalize)
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @see https://github.com/sindresorhus/modern-normalize
 */

/**
 * Imports
 */
@use "../settings";
@use "../2.tools/tools.reset" as reset;

/**
 * Settings
 */

// Reset heading font-size and font-weight
$heading-size: true !default;

// Reset small element font-size
$small-size: true !default;

// Enable font antialiasing
$font-antialiasing: false !default;

// Remove list bullets (for lists with classes)
$list-bullets: false !default;

// Enable table normalizer
$table-normalize: true !default;

// Make images full width
$full-width-images: false !default;

// Enable form elements normalizer
$form-elements: true !default;

// Enable button element reset
$button-element: false !default;

/**
 *** Document ***
 */
@include reset.document($font-antialiasing);
@include reset.box-sizing;

/**
 *** Sections ***
 */
@include reset.sections;
@include reset.heading-fontsize($heading-size);

/**
 *** Text-level semantics ***
 */
@include reset.bold;
@include reset.code;
@include reset.small($small-size);
@include reset.sub-sup;
@include reset.address;

// Remove bullets from lists with classes
ul[class],
ol[class],
menu[class] {
  @include reset.list-bullets($list-bullets);
}

/**
 *** Tabular data ***
 */
@include reset.table($table-normalize);

/**
 *** Embedded content ***
 */
@include reset.images($full-width-images);

/**
 *** Forms ***
 */
@include reset.form-elements($form-elements);

/**
 *** Interactive ***
 */
@include reset.summary;
@include reset.button-element($button-element);
