/**
 * @file
 * Page Element
 *
 * Theming page related and all (*) elements.
 */

/**
 * Imports
 */
@use "../settings";

/**
 * Settings
 */

/**
 * Body colors
 *
 * Set text- and background-color to body. Turn this off if you need anything
 * else background property than background-color, like background-image.
 */
$body-colors: true !default;

:root {
  --body-color: var(--color-text-primary);
  --body-background-color: var(--color-background-primary);
}

html {
  overflow-x: hidden;
  min-block-size: 100%;
}

body {
  min-block-size: 100vh;

  @if $body-colors == true {
    color: var(--body-color);
    background-color: var(--body-background-color);
    font-family: var(--code);
  }

  // Prevent scrolling when mobile menu is open
  &.has-mobile-menu-open {
    position: fixed;
    inset-inline: 0;
    overflow: hidden;
  }
}
