/**
 * @file
 * Type Element
 *
 * Theming text elements.
 */

/**
 * Imports
 */
@use "../settings";
@use "../tools";

/**
 * Settings
 */

/**
 * Global selected text
 */
$selected-text: true !default;

// Selected text colors: see below at the CSS Custom Properties section.

/**
 * Focus color
 */
// See below at the CSS Custom Properties section

/**
 * Paragraph margins
 */
$paragraph-margins: true !default;
$paragraph-margin-size: 1em !default;

/**
 * Inline and Code Blocks
 */
$code-tab-size: 2 !default;

/**
 * Classless typography settings
 */

// Responsive font-size
$classless-headings-fontsize: true !default;

// Heading font-family
$classless-headings-fontfamily: true !default;

// Margins and padding for ordered and ordered lists
$classless-lists-margins-paddings: true !default;

// link element (see details below)
$classless-link-element: true !default;

/**
 * Global Link Element
 */

// :link, :visited states
// See below at the CSS Custom Properties section

// link color type @see link mixin in 2.tools/_link
$link-type: dark !default;

// underlined links
$link-text-decoration: none !default;

:root {
  /**
   * Global selected text
   */
  --selected-text-color: var(--color-light);
  --selected-text-background: var(--color-primary);

  /**
   * Focus color
   */
  --focus-color: var(--color-primary);

  /**
   * Global Link Element
   */
  // :link, :visited states
  --link-color: var(--color-primary);
}

/**
 * Base typography
 */
html {
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  @include tools.type(body);

  font-family: var(--font-family-primary);
  font-weight: 400;
}

/**
 * Type elements
 */

/**
 * Styling selected text
 */
@if $selected-text {
  ::selection {
    color: var(--selected-text-color);
    background-color: var(--selected-text-background);
  }
}

/**
 * Styling the default focus state
 */
:focus-visible {
  outline: 0.2rem solid var(--focus-color);
  outline-offset: 0.5rem;
}

/**
 * Paragraph Element
 */
@if $paragraph-margins {
  p {
    &:not(:last-child) {
      margin-block-end: $paragraph-margin-size;
    }
  }
}

/**
 * Code and Preformatted Elements
 */
code,
kbd,
pre,
samp,
var {
  text-align: start;
  word-spacing: normal;
  overflow-wrap: normal;
  word-break: normal;
  tab-size: $code-tab-size;
  hyphens: none;
}

/**
 * Global Link Element
 */
@if $classless-link-element {
  a:not([class]) {
    @include tools.link(var(--link-color), $mode: $link-type, $decoration: $link-text-decoration);
  }
}

/**
 * Default Heading
 */

@if $classless-headings-fontfamily {
  h1:not([class]),
  h2:not([class]),
  h3:not([class]),
  h4:not([class]),
  h5:not([class]),
  h6:not([class]) {
    font-family: var(--font-family-secondary);
  }
}

@if $classless-headings-fontsize {
  h1:not([class]) {
    @include tools.type(h1);
  }

  h2:not([class]) {
    @include tools.type(h2);
  }

  h3:not([class]) {
    @include tools.type(h3);
  }

  h4:not([class]) {
    @include tools.type(h4);
  }

  h5:not([class]) {
    @include tools.type(h5);
  }

  h6:not([class]) {
    @include tools.type(h6);
  }
}

/**
 * Global List Elements
 */
@if $classless-lists-margins-paddings {
  ul:not([class]),
  ol:not([class]),
  menu:not([class]),
  pre:not([class]),
  hr:not([class]) {
    margin-block: $paragraph-margin-size;
    margin-inline: 0;

    & + p,
    & + blockquote,
    hr + & {
      margin-block-start: 0;
    }
  }

  ul:not([class]),
  ol:not([class]) {
    padding-inline-start: 1.1em;

    ul,
    ol {
      margin-block: 0;
    }
  }
}
